@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'main_scss/fonts';
@import 'main_scss/variables';
@import 'main_scss/mixin';
@import 'main_scss/tripadvisor';
@import 'main_scss/checkboxes';
@import 'main_scss/select2';

#tripcloud-setts {
  min-width: 960px;
  font-family: $tripcloud-font-family;
  background: #fff;
  font-size: $font-size-base;
  line-height: 1.42857;
  //  transition: all 1s ease;
}

.select2-drop {
  &.select2-green {
    .select2-results .select2-highlighted {
      background-color: $success-color;
    }
  }
}

.toptravel {

  .tripad-logo-local .sprite-tripad-logo {
    background-image: url('../images/tripad-stars.png');
  }
  .rate-stars {
    i.star {
      font-size: $font-size-medium;
      color: #dbdbdb;
    }
    .star:not(.fa-star-o) {
      font-size: $font-size-medium;
      color: $stars-color;
    }
    .thumb {
      display: inline-block;
      background-color: $success-color;
      border-radius: $border-radius-base;
      padding: 0 5px 3px;
      margin-left: 5px;
      line-height: 22px;
      width: 15px;
      height: 16px;
      .fa {
        color: #fff;
        font-size: 16px;
      }
    }
    a:hover.thumb{
      background-color: darken($success-color,3%);
    }
  }
  .form-control {
    &.select2-container {
      height: initial;
      .select2-choice {
        border: none;
        box-shadow: none;
      }
    }
  }
  .logo-wrapper {
    position: relative;
    width: 270px;
    height: 190px;
    float:left;
    z-index: 1;
    .logo {
      position:absolute;
      top: 0;
      left: -60px;
    }
  }
  .top-menu {
    float:left;
    width: calc(100% - 270px);
    padding-top: 20px;
    .main-menu {
      margin-bottom: 15px;
    }
    > ul {
      font-size: 0;
      margin-left: -20px;
      display: flex;
      flex-direction: row;
      padding: 0;
      > li {
        position: relative;
        display: inline;
        list-style: none;
        flex-grow: 1;
        text-align: center;
        a {
          display: block;
          padding: 12px 5px;
          font-size: 12px;
          line-height: 14px;
          background: #7ec619;
          text-transform: uppercase;
          color: #fff;
          border-right: 1px solid #65b31d;
        }
        &:first-child {
          a {
            padding-left: 30px;
          }
        }
        &:last-child {
          a {
            border: none;
          }
        }
        &.active {
          a {
            background: #ed1c24;
          }
          &:hover {
            a {
              background: darken(#ed1c24,5%);
            }
          }
        }
        &:hover {
          a {
            text-decoration: none;
            background: #6ead16;
          }
          > ul {
            display: block;
          }
        }
        > ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          padding: 0;
          border-top: 1px solid #4d981d;
          li {
            width: 100%;
            a {
              width: 100%;
              text-align: left;
              border-bottom: 1px solid #4d981d;
              padding-left: 15px;
              padding-right: 15px;
            }
            &:hover {
              a {
                background: #4d971d;
              }
            }
          }
        }
      }
    }
  }
  .breadcrumbs {
    padding: 0 20px;
    float: left;
    ul {
      list-style: none;
      li {
        display:inline-block;
        padding-right: 10px;
        a {
          font-size:10px;
          color: #fff;
          padding-right: 10px;
        }
        &:after {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f105";
          vertical-align: middle;
          color: #fff;
          font-size:10px;
        }
        &:last-child {
          &:after {
            content: ' ';
          }
        }
      }
    }
  }

  .block-image {
    display: block;
    border-radius: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    height: 215px;
    color: #fff;
  }

  .user-menu {
    float: right;
    ul {
      list-style: none;
      font-size: 0;
      li {
        display: inline-block;
        margin-right: 10px;
        &:before {
          content: '';
          display: inline-block;
          height: 25px;
          width: 12px;
          border-radius: 15px 0 0 15px;
          background: #fff;
          vertical-align: middle;
        }
        &:after {
          content: '';
          display: inline-block;
          height: 25px;
          width: 12px;
          border-radius: 0 15px 15px 0;
          background: #fff;
          vertical-align: middle;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          display: inline-block;
          background: #fff;
          color: #222;
          font-size: 12px;
          line-height: 25px;
          vertical-align: middle;
          text-decoration: none;
          &:hover {
            color: lighten(#222,10%);
            i {
              color: darken(#a6ce39,10%);
            }
          }
        }
        i {
          color: #a6ce39;
          padding-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }

  footer {
    background: #fff;
    padding: 30px 0;
    .input-group {
      .btn-primary {
        background-color: #1485cb;
        border: 1px solid #1485cb;
        color: #fff;
      }
    }
    ul.with-icons {
      margin-top:20px;
      li {
        &:before {
          content: "\f00c";
          font: normal normal normal 14px/1 FontAwesome;
          color: #1485cb;
        }
      }
      a {
        padding-left: 5px;
      }
    }
    ul {
      li {
        a {
          font-size: 13px;
          color: #7b7b7b;
          &:hover {
            text-decoration: none;
            color: #1485cb;
          }
        }
      }
    }
    .footer-img {
      margin-top:30px;
    }
    .quick-links {
      margin: 30px 0;
      a {
        display: inline-block;
        text-transform: uppercase;
        color: #1485cb;
        margin-right: 15px;
        font-size: 13px;
      }
    }
    .copyright {
      font-size: 12px;
      color: #7b7b7b;
    }
  }

  &.results-page {
    background-size: cover;
    background: url("../images/toptravel/results-bg.jpg") 50% 0 repeat-x #f5f5f5;
    .container {
      width: 1150px;
    }
    .va-middle {
      vertical-align: middle;
    }
    .relative {
      position: relative;
    }
    .checkbox.styled.checked label .ico {
      color: #7ec619;
    }
    .form-control {
      $height: 47px;
      height: $height;
      &:focus {
        box-shadow: none;
      }
      &.select2 {
        &.select2-container {
          .select2-choice {
            border: none;
            box-shadow: none;
            padding: 0 0 0 8px;
            height: $height - 2;
            line-height: $height - 2;
            font-size: 14px;
            .select2-arrow {
              line-height: $height - 2;
            }
          }
          &.select2-container-active {
            border-color: #7ec619;
            box-shadow: inset 0 1px 1px rgba(#7ec619, 0.2);
          }
        }
      }
    }

    .results-filter {
      margin-bottom: 30px;
      h3 {
        font-size: 30px;
        color: #fff;
        font-weight:400;
      }
      .wrapper {
        background: rgba(#fff,0.8);
        border-radius: 4px;
        padding: 15px;
        .col {
          width: 20%;
          float:left;
          padding: 0 15px;
          label {
            color: #6f777a;
            font-weight: 600;
            display: block;
          }
          .setting {
            > label {
              width: 100%;
              display: inline-block;
              color: #6f777a;
              border-bottom: 1px solid #c1c1c1;
              padding-bottom: 5px;
              font-weight: 600;
            }
            label {
              display: inline-block;
            }
          }
        }
      }
      .btn-reset {
        background: #ed1c24;
        color: #fff;
        width: 16%;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 2px;
        &:hover {
          background: darken(#ed1c24,5%);
        }
      }
      .rate {
        .filter {
          .stars {
            height: 160px;
            position: relative;
            margin: 30px 20px 0;
            .rate-star {
              &:before {
                content: "\f005";
              }
              font: normal normal normal 18px/1 FontAwesome;
              color:#fff;
              text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
              text-align: center;
              float: left;
              position: absolute;
              bottom: 0;
              width: 15%;
              &:nth-child(1) {
                height: 40%;
                left: 5%;
              }
              &:nth-child(2) {
                height: 55%;
                left: 25%;
              }
              &:nth-child(3) {
                height: 70%;
                left: 45%;
              }
              &:nth-child(4) {
                height: 85%;
                left: 65%;
              }
              &:nth-child(5) {
                height: 100%;
                left: 85%;
              }
              .tower{
                height: calc(100% - 30px);
                box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
                background: #fff;
                margin: 5px 2px 0;
                border-radius: 2px;
              }
              &:hover, &.active {
                color: #7ec619;
                .tower {
                  background: #7ec619;
                }
              }
            }
          }
        }
      }

      .catering {
        .tooltip {
          $tooltipColor: #343434;
          &.in {
            opacity:1;
          }
          .tooltip-inner {
            padding: 8px;
            min-width: 160px;
            border-radius: 1px;
            background-color: $tooltipColor;
          }
          .tooltip-arrow {
            border-top-color: $tooltipColor;
          }
        }
        .filter {
          min-width: 190px;
          .pie {
            position: relative;
            margin: 20px 10px;
            .piece {
              width: 84px;
              height: 84px;
              float:left;
              position: relative;
              span {
                z-index: 1;
                display: block;
                position: absolute;
                top: 30px;
                left: 30px;
                font-weight: 600;
              }
              &:hover, &.active {
                cursor: pointer;
                &:before {
                  background: url('../images/toptravel/pie-hover.png') 0 0 no-repeat;
                }
              }
              &:before {
                content: ' ';
                position: absolute;
                width: 84px;
                height: 84px;
                background: url('../images/toptravel/pie.png') 0 0 no-repeat;
                background-size: 100% 100%;
              }
              &:nth-child(1) {
                &:before {
                  transform:rotate(-90deg);
                }
              }
              &:nth-child(2) {
                &:before {
                  transform:rotate(0deg);
                }
              }
              &:nth-child(3) {
                &:before {
                  transform:rotate(180deg);
                }
              }
              &:nth-child(4) {
                &:before {
                  transform:rotate(90deg);
                }
              }
              &:nth-child(5) {
                position: absolute;
                width: 63px;
                height: 63px;
                top: 52px;
                left: 53px;
                background: #fff;
                border-radius: 50%;
                span {
                  display: inline-block;
                  width:100%;
                  line-height: 20px;
                  text-align:center;
                  top: 20px;
                  left: 0;
                }
                &:hover, &.active {
                  background: #7ec619;
                }
                &:before {
                  background: none;
                }
              }
            }
          }
        }

      }

      .temperature {
        .filter {
          position: relative;
        }
        .temp-number {
          top: 20px;
          position: absolute;
          .sign {
            font-size: 30px;
          }
          .amount {
            font-size: 30px;
            font-weight: 600;
            color: #404040;
          }
          .deg {
            position: absolute;
            right: -15px;
            top: 5px;
          }
        }
        .termometer {
          position: absolute;
          background: url('../images/toptravel/termometer.png') 0 0 no-repeat;
          width: 70px;
          height: 165px;
          margin-left: -35px;
          left: 50%;
          top: 20px;
        }
        .bulb {
          position: absolute;
          left: 50%;
          margin-left: -14px;
          bottom: 19px;
          width: 29px;
          height: 29px;
          background: #a6ce39;
          border-radius: 50%;
        }
        .temp-slider {
          height: 109px;
          margin-top: 20px;
          margin-left: 32px;
          &.ui-slider-vertical {
            width: 7px;
            border: none;
            background: transparent;
            .ui-slider-handle {
              width: 7px;
              height: 7px;
              left: 0;
              margin-bottom: -7px;
            }
            .ui-widget-header {
              border: none;
              background: #a6ce39;
            }
          }
        }

      }

      .best-offers {
        .filter {
          margin-top: 20px;
          .checkbox {
            label {
              color: #404040;
              font-size: 14px;
            }
          }
        }
      }

      .budget {
        .filter {
          margin-top: 20px;
        }
        .rs-control {
          .rs-range-color {
            background-color: #7ec619;
          }
          .rs-bg-color {
            background-color: #dff3f8;
          }
          .rs-border {
            border: 1px solid #dedede;
          }
          .rs-tooltip-text {
            font-family: $tripcloud-font-family;
            font-size: 30px;
            font-weight: 600;
          }
          .rs-handle-dot {
            padding: 8px;
            &:after {
              background-color: #222;
            }
          }
        }
      }

    }
    .special-offers {
      $padding: 20px;
      margin-bottom: 40px;
      .item {
        background: #fff;
        border: 1px solid #eaeaea;
        margin-bottom: 5px;
        .picture {
          float:left;
          height:170px;
          width: 250px;
        }
        .top-offer {
          position: absolute;
          top: 25px;
          left: -3px;
          .label {
            position: relative;
            background: #ed1c24;
            border-radius: 0 4px 4px 0;
            padding: 9px 12px;
            &:after {
              position: absolute;
              content: ' ';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 3px 3px 0;
              border-color: transparent darken(#ed1c24,20%) transparent transparent;
              left: 0;
              bottom: -3px;
            }
          }

        }
        .info {
          position: relative;
          float:left;
          padding: $padding;
          width: 50%;
          height: 170px;
          h3 {
            margin: 0 0 10px;
            font-size: 21px;
            line-height: 14px;
            a {
              text-decoration: none;
              font-weight: 600;
              color:#000;
            }
          }
        }
        .destination {
          .country {
            color: #585858;
            font-size: 18px;
            font-weight: 400;
            margin-right: 15px;
            vertical-align: middle;
          }
          .sun {
            color: #6b6b6b;
            margin-right:15px;
            i {
              color: #f8c80a;
            }
          }
          .water {
            color: #6b6b6b;
            i {
              color: #1c89cd;
              font-size: 24px;
              vertical-align: middle;
            }
          }
        }
        .hotel-info {
          position: absolute;
          bottom: 10px;
          left: $padding;
          width: 100%;
          .block {
            float:left;
            margin-right: 20px;
            border-right: 1px solid #f2f2f2;
            padding: 5px 20px 10px 0;
            &:nth-child(1) {
              width: 35%;
            }
            &:nth-child(2) {
              width: 30%;
            }
            &:nth-child(3) {
              width: auto;
              border: none;
            }
            label {
              color: #fe7a00;
              font-size: 17px;
              margin-bottom: 0;
            }
            .type {
              color: #6b6b6b;
              font-size: 15px;
              line-height: 15px;
            }
          }

        }
        .price-block {
          position: relative;
          float: right;
          width: 270px;
          height: 170px;
          padding: $padding;
          .tripad {
            text-align: right;
            line-height: 18px;
            span {
              padding-right: 10px;
              vertical-align: top;
              color: #35851c;
              font-size: 18px;
              font-weight: 600;
            }
          }
          .prices {
            position: absolute;
            bottom: $padding;
            right: $padding;
            width: 100%;
            .block {
              float:left;
              padding: 0 5px;
              &:nth-child(1) {
                width: 80px;
              }
              &:nth-child(2) {
                width: 140px;
                padding-right: 20px;
              }
              &:nth-child(3) {
                width: 45px;
                padding-right: 0;
              }
            }
            .old-price {
              text-decoration: line-through;
              color: #6b6b6b;
              font-size: 18px;
              text-align: center;
            }
            .price {
              font-size:30px;
              line-height: 30px;
              color: #000;
              text-align: right;
              font-weight: 600;
            }
            .person {
              color: #6b6b6b;
              font-size: 15px;
              line-height: 15px;
              margin-top: 6px;
              text-align: right;
            }
            .label-discount {
              position: relative;
              background: #ff0004;
              border-radius: 0;
              padding: 4px 5px;
              margin-left: 15px;
              font-size: 18px;
              font-weight: 400;
              color: #fff;
              display: inline-block;
              &:after {
                right: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-right-color: #ff0000;
                border-width: 13px;
                margin-top: -13px;
              }
            }
            .btn-select {
              background: #7ec619;
              padding: 6px 12px 7px;
              border-radius: 2px;
              i {
                color: #fff;
                font-size: 35px;
              }
            }
          }

        }
        .rate-stars {
          padding-left:10px;
          i {
            font-size:14px;
            color: #f8c80a;
          }
        }
      }
    }
  }

  &.search-results {
    background-color: #f5f5f5;
    .container {
      width: 1150px;
    }
    .logo-wrapper {
      position: relative;
      width: 270px;
      height: 190px;
      float:left;
      z-index: 1;
      .logo {
        position:absolute;
        top: 0;
        left: -60px;
      }
    }
    header {
      background-size: cover;
      background: url("../images/toptravel/search-results-header.jpg") 50% 0 no-repeat #93b8d3;
      height: 188px;
    }
    .main-heading {
      margin: 30px 0 20px;
      h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 5px 0 0;
      }
      .form-control {
        $height: 38px;
        height: $height;
        &:focus {
          box-shadow: none;
        }
        &.select2 {
          border: none;
          &.select2-container {
            .select2-choice {
              border: none;
              padding: 0 0 0 8px;
              height: $height;
              line-height: $height;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
              font-size: 14px;
            }
            &.select2-container-active {
              box-shadow: none;
            }
          }
        }
      }
    }
    .top-menu {
      float: left;
      width: calc(100% - 270px);
      padding-top: 20px;
    }
    .user-menu {
      float: right;
      ul {
        list-style: none;
        font-size: 0;
        li {
          display: inline-block;
          margin-right: 10px;
          &:before {
            content: '';
            display: inline-block;
            height: 25px;
            width: 12px;
            border-radius: 15px 0 0 15px;
            background: #fff;
            vertical-align: middle;
          }
          &:after {
            content: '';
            display: inline-block;
            height: 25px;
            width: 12px;
            border-radius: 0 15px 15px 0;
            background: #fff;
            vertical-align: middle;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            display: inline-block;
            background: #fff;
            color: #222;
            font-size: 12px;
            line-height: 25px;
            vertical-align: middle;
            text-decoration: none;
            &:hover {
              color: lighten(#222,10%);
              i {
                color: darken(#a6ce39,10%);
              }
            }
          }

          i {
            color: #a6ce39;
            padding-right: 5px;
            vertical-align: middle;
          }
        }
      }
    }
    .search-block {
      background: repeating-linear-gradient(-45deg,
              #D1D1D1,
              #D1D1D1 10px,
              #D9D9D9 10px,
              #D9D9D9 20px
      );
      padding: 15px 0;
      .form-control[readonly] {
        cursor: pointer;
        background: transparent;
      }
      .form-field {
        position: relative;
        float: left;
        display: inline-block;
        &:nth-child(1){
          width: 40%;
        }
        &:nth-child(2) {
          width:16%;
          margin-left: -1px;
        }
        &:nth-child(3) {
          width:16%;
          margin-left: -1px;
        }
        &:nth-child(4) {
          width:16%;
          margin-left: -1px;
        }
        &:nth-child(5) {
          width: calc(12% + 3px);
        }
      }
      .autocomplete-container {
        i {
          position: absolute;
          color: #222;
          top: 18px;
          font-size: 20px;
          left: 10px;
        }
        input {
          height: 54px;
          border: 1px solid #ddd;
          border-radius: 0;
          padding-left: 35px;
        }
      }
      .datepicker {
        height: 54px;
        width: 100%;
        border-radius: 0;
      }
      .input-with-ico {
        display: block;
        position: relative;
        background-color: #fff;
        border-radius: 2px;
        height: 54px;
        i {
          position: absolute;
          left: 8px;
          color: #959fa7;
          width: 17px;
          text-align: center;
          top: 18px;
          font-size: 16px;
        }
        input {
          padding-left: 35px;
          position: relative;
          background-color: transparent;
          cursor: pointer;
          margin-bottom: 0;
          height:100%;
          border-radius: 0;
        }
      }
      .form-control {
        $height: 54px;
        height: $height;
        border-radius: 0;
        box-shadow: none;
        &:focus, &:active {
          border-color: $success-color;
        }
        &.select2-container {
          height: $height;
          border-radius: 0;
          &.select2-container-active {
            border-color: $success-color;
          }
          .select2-choice {
            padding: 17px 10px 15px;
            border-radius: 0;
            border: none;
            box-shadow: none;
            font-size:14px;
            .select2-arrow {
              line-height: $height;
              padding-top: 0;
            }
          }
        }
      }
      .btn-search {
        background: #E6001D;
        color: #fff;
        height: 52px;
        margin-top: 1px;
        border-radius: 0 2px 2px 0;
        font-size:18px;
        &:hover {
          background: darken(#E6001D,5%);
        }
      }
    }
    .result-item{
      border: 1px solid #BEBEBE;
      background: #fff;
      padding: 20px;
      border-radius: 4px;
      margin-bottom: 20px;
      .hotel-title {
        .icon {
          $size: 40px;
          width: $size;
          height: $size;
          text-align: center;
          line-height: $size;
          border-radius: 50%;
          border: 1px solid #ccc;
          margin-right: 2px;
          &:last-child {
            margin-right: 0;
          }
          &.location {
            border-color: $success-color;
            color:$success-color;
            font-size:22px;
          }
          &.favorite {
            border-color: $red-color;
            color: $red-color;
            font-size: 20px;
          }
        }
        .rate-stars {
          font-size:10px;
          margin-left:10px;
          display: inline-block;
          line-height: 5px;
          .star {
            font-size: 18px;
          }
        }
        .name {
          font-size:24px;
          line-height: 24px;
          font-weight: 800;
          span {
            vertical-align: middle;
          }
        }
        .country {
          font-size: 16px;
          color: #3B3B3B;
          font-weight:100;
        }
      }
      .gallery {
        margin: 20px 0 0;
        position: relative;
        .ad-label {
          position: absolute;
          top:20px;
          left: -5px;
          background: $red-color;
          color: #fff;
          font-size: 18px;
          border-radius: 0 4px 4px 0;
          .wrap {
            position: relative;
            padding: 8px 20px;
            &:before {
              position: absolute;
              left: 0;
              bottom: -5px;
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 5px 5px 0;
              border-color: transparent darken($red-color,20%) transparent transparent;
            }
          }
        }
        .category {
          position: absolute;
          top: 61px;
          left: 0;
          color: #222;
          background: #F2F2F2;
          border-radius: 0 4px 4px 0;
          font-size: 12px;
          padding: 10px 20px;
        }
        .block-image {
          height:420px;
          -webkit-background-size: cover;
          background-size: cover;
        }
      }
      .advantages {
        border-bottom: 1px dashed #D4D4D4;
        padding: 10px 0;
      }
      .benefits {
        .icon {
          $size: 50px;
          width: $size;
          height: $size;
          border-radius: 50%;
          margin-right: 2px;
          color: #fff;
          display: inline-block;
          line-height: $size;
          text-align:center;
          vertical-align: top;
          &.beach {
            background: $yellow-color;
            font-size: 24px;
          }
          &.discount {
            background: $red-color;
            line-height: 12px;
            padding-top: 13px;
            font-style: normal;
          }
          .percent {
            font-size: 14px;
            font-weight: 600;
          }
          .title {
            font-size: 10px;
          }
        }
      }
      .tripad {
        line-height: 50px;
        text-align: right;
        .tripad-logo-local {
          margin-top: 15px;
          margin-left: 10px;
        }
        span {
          font-weight: 600;
        }
      }
      .description {
        font-size: 16px;
        h3 {
          font-size: 16px;
          font-weight: 600;
        }
        .btn-more {
          $color: #F19F3E;
          border: 1px solid $color;
          color: $color;
          margin-top: 10px;
          span {
            padding: 0 10px;
          }
          &:hover {
            color: darken($color,5%);
            border-color: darken($color,5%);
          }
        }
      }
      .hotel-selection {
        margin: 30px 0;
        .item {
          width: 100%;
          border: 1px solid #E3E3E3;
          margin-bottom: 5px;
          td {
            padding: 5px 10px;
            &:nth-child(1) {
              background: #F5BE0F;
              width: 25%;
            }
            &:nth-child(2) {
              background-color: #F2F2F2;
              width: 20%;
            }
            &:nth-child(3) {
              width: 30%;
            }
            &:nth-child(4) {
              width: 25%;
              background-color: #67B314;
              &:hover {
                background-color: darken(#67B314,5%);
              }
            }
          }
          .name,
          .duration
          {
            font-weight: 600;
            font-size: 16px;
          }
          .desc {
            color: #4F4F4F;
            font-size: 14px;
          }
          .date {
            color: #4F4F4F;
            font-size: 14px;
            font-weight: 100;
          }
          .discount {
            float: left;
            width: 40%;
            padding: 0 10px;
            .old-price{
              color: #4F4F4F;
              font-weight: 100;
              font-size: 12px;
              text-decoration: line-through;
            }
            .label-discount {
              background-color: $red-color;
            }
          }
          .price-block {
            float:left;
            width: 60%;
            .price{
              font-size: 20px;
              font-weight: 800;
            }
            .person {
              font-size:10px;
              color: #848484;
            }
          }
          .btn-select {
            color: #fff;
            font-size:18px;
          }
        }
        .more-options {
          display: inline-block;
          margin-top: 10px;
          font-size: 14px;
          color: #F5BE0F;
        }
      }
    }

    ul.paging {
      list-style: none;
      text-align: center;
      margin: 20px 0;
      font-size: 0;
      li {
        $size: 50px;
        display: inline-block;
        margin-right:5px;
        width: $size;
        height: $size;
        border: 1px solid #F5BE0F;
        text-align: center;
        line-height: $size;
        border-radius: 4px;
        vertical-align: top;
        &.gap {
          border: none;
        }
        &.active, &:hover {
          border-color: #222;
          a {
            color: #222;
          }
        }
        &:first-child {
          margin-right: 15px;
        }
        &:last-child {
          margin-left: 10px;
        }
        a {
          display: block;
          text-decoration: none;
          color:#F5BE0F;
          font-size: 14px;
        }
        span {
          font-size: 20px;
          display: block;
          color:#F5BE0F;
        }
      }
    }
  }

  &.travel-deal {
    background-color: #F5F5F5;
    .container {
      width: 1150px;
    }
    header {
      background-size: cover;
      background: url("../images/tmp/bali.jpg") 50% 0 repeat-x #f5f5f5;
      height: 590px;
    }
    .checkmark-list {
      list-style: none;
      padding: 0;
      margin:0;
      li {
        color: #404040;
        font-size: 17px;
        list-style: none;
        position: relative;
        padding-left: 25px;
        line-height: 30px;
        &:before {
          position: absolute;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 17px;
          content: '\f058';
          color: #87B93E;
          top: 5px;
          left: 0;
        }
      }
    }
    .circle-list {
      list-style: none;
      padding: 0;
      margin:0;
      li {
        color: #7b7b7b;
        font-size: 16px;
        list-style: none;
        position: relative;
        padding-left: 25px;
        line-height: 30px;
        &:before {
          position: absolute;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 7px;
          content: '\f111';
          color: #87B93E;
          top: 11px;
          left: 0;
        }
      }
    }
    .briefing {
      $grey-color: #4c4c4c;
      background: #fff;
      border: 1px solid #ccc;
      margin-top: -90px;
      padding: 25px 35px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      .title{
        font-size: 36px;
        line-height: 44px;
        font-weight: 600;
      }
      .duration {
        color: $grey-color;
        font-size: 24px;
        margin: 10px 0 20px;
        font-weight: 100;
      }
      .includes{
        ul{
          list-style: none;
          padding: 0;
          margin:0;
          li {
            display: inline-block;
            padding-left: 5px;
            color: #4c4c4c;
            &:after {
              content: '+';
              padding-left: 5px;
            }
            &:first-child{
              padding-left: 0;
            }
            &:last-child {
              &:after{
                content: '';
              }
            }
            i {
              color: $grey-color;
              font-size: 24px;
              vertical-align: middle;
            }
          }
        }
      }
      .price-block {
        text-align: right;
        .price{
          font-size: 36px;
          font-weight: 800;
        }
        .icon {
          $size: 40px;
          display: inline-block;
          width: $size;
          height: $size;
          background: #ed1c24;
          border-radius: 50%;
          text-align: center;
          vertical-align: middle;
          i {
            font-size: 14px;
            color: #fff;
            vertical-align: top;
            line-height: $size;
          }
        }
        span {
          vertical-align: middle;
        }
        .person {
          font-size: 18px;
          color: $grey-color;
        }
        .btn-select {
          margin-top: 20px;
          background-color: #78bc18;
          color: #fff;
          border-radius: 2px;
          padding: 12px 25px;
          span{
            font-size: 18px;
            vertical-align: middle;
          }
          i {
            font-size: 18px;
            padding-left: 5px;
            vertical-align: middle;
          }
          &:hover {
            background-color: darken(#78bc18,5%);
          }
        }
      }
    }
    .item {
      $grey-color: #4c4c4c;
      background: #fff;
      border: 1px solid #ccc;
      margin: 20px 0;
      padding: 25px 35px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      h2 {
        font-size: 30px;
        font-weight: 600;
      }
      .temperature {
        position: absolute;
        top: 0;
        right: 0;
        .icon {
          color: #000;
          border: 1px solid #ccc;
          padding: 14px;
          i {
            vertical-align: middle;
          }
          &.sun {
            border-radius: 4px 0 0 4px;
            i {
              color: #f8c80a;
              font-size: 26px;
            }
          }
          &.water {
            margin-left: -1px;
            border-radius: 0 4px 4px 0;
            i {
              color: #1c89cd;
              font-size: 28px;
              vertical-align: middle;
            }
          }
        }
      }
      .checkmark-list {
        margin: 20px 0;
      }
      .main-picture {
        margin: 40px 0 50px;
        img {
          height: 380px;
        }
      }
      .gallery {
        margin: 30px 0 50px;
        ul {
          font-size: 0;
          list-style: none;
          padding: 0;
          margin: 0 -5px;
          li{
            position: relative;
            display: inline-block;
            padding: 0;
            .block-image{
              margin: 3px;
              height: 380px;
            }
            .more {
              background-color: rgba(#000,0.3);
              position: absolute;
              width: 100%;
              text-align: center;
              line-height: 380px;
              color: #fff;
              font-size: 60px;
              font-weight: 600;
              display: block;
              text-decoration: none;
              transition: all 0.5s;
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }
      .location {
        position: relative;
        h2 {
          margin-bottom: 20px;
        }
      }
      .hotel {
        .bold {
          font-weight: 600;
        }
        .description, .details .text {
          font-size:17px;
          color: #7b7b7b;
          line-height: 23px;
          margin-bottom: 50px;
          p{
            margin-bottom: 25px;
          }
        }
        .hotel-info{
          h2{
            margin-bottom: 0;
          }
          .hotel-name {
            font-size:30px;
            font-weight: 800;
            margin-bottom: 25px;
          }
        }
      }
      .details {
        margin-bottom: 30px;
        .rating {
          position: relative;
          width: 250px;
          height: 160px;
          color: #87B93E;
          margin-right: 10px;
          i {
            position: absolute;
            top: 10px;
            left: 0;
            font-size:135px;
          }
          .title{
            font-size:24px;
            text-align: center;
          }
          .score {
            font-size: 70px;
            font-weight: 600;
            line-height: 90px;
            text-align: center;
          }
          .stars {
            position: absolute;
            bottom: 10px;
            left: 0;
            height: 20px;
            width: 100%;
            text-align: center;
            i {
              position: relative;
              font-size: 18px;
            }
          }
        }
        .citate {
          .sentence {
            position:relative;
            padding: 0 50px;
            color: #8A8A8A;
            font-style: italic;
            font-size:16px;
            &:before {
              font-family: 'flights';
              content: '\e629';
              color: #87B93E;
              font-size: 22px;
              position: absolute;
              top: 0;
              left: 0;
            }
            &:after {
              font-family: 'flights';
              content: '\e62b';
              color: #87B93E;
              font-size: 22px;
              position: absolute;
              bottom: 20px;
              right: 0;
            }
            .author {
              color: #222;
              font-size:18px;
              font-weight: 600;
              font-style: normal;
              margin-top: 15px;
            }
          }

        }
      }
    }
    .deals-filter {
      background-color: #8EC341;
      border-radius: 4px;
      padding: 35px;
      margin: 40px 0 20px;
      .title {
        font-size: 30px;
        line-height: 26px;
        margin-bottom:30px;
        color: #fff;
      }
      .form-control[readonly] {
        cursor: pointer;
        background: transparent;
      }
      .input-with-ico {
        display: block;
        position: relative;
        background-color: #fff;
        border-radius: 2px;
        height: 45px;
        i {
          position: absolute;
          left: 8px;
          color: #959fa7;
          width: 17px;
          text-align: center;
          top: 13px;
          font-size: 16px;
        }
        input {
          padding-left: 35px;
          position: relative;
          background-color: transparent;
          cursor: pointer;
          margin-bottom: 0;
          height:100%;
          border-radius: 0;
        }
      }
      .filter-group {
        float:left;
        width: 20%;
        padding-right: 10px;
        label {
          color: #fff;
          font-weight: 400;
        }
        &:nth-child(1){
          width: 16%;
        }
        &:nth-child(2){
          width: 17%;
        }
        &:nth-child(3){
          width: 17%;
        }
        &:nth-child(4){
          width: 25%;
        }
        &:nth-child(5){
          width: 25%;
          padding-right: 0;
        }
      }
      .form-control{
        $height: 45px;
        height: $height;
        border-color: transparent;
        border-radius: 2px;
        box-shadow: none;
        &.select2-container {
          height: $height;
          border-color: transparent;
          .select2-choice {
            padding: 0 0 0 8px;
            line-height: $height - 2;
          }
          .select2-arrow {
            line-height: $height - 5;
          }
        }
      }
      .slider-wrap {
        background-color: #fff;
        height: 45px;
        border-radius: 2px;
        padding: 20px 45px;
        position: relative;
        .slider-input {
          border: none;
          width: 35px;
          font-size: 14px;
          text-align:center;
        }
        .price-from, .duration-from{
          position:absolute;
          left: 1px;
          top: 13px;
        }
        .price-to, .duration-to {
          position: absolute;
          top: 13px;
          right: 1px;
        }
      }
      .toptravel-slider{
        border-radius: 0;
        padding: 0;
        height: 5px;
      }
      .toptravel-slider-range {
        background: #8EC341;
      }
      .toptravel-slider-handle {
        top: -10px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid #000;
        background: #fff;
        outline: none;
        box-shadow: inset 1px 1px 5px 2px rgba(0,0,0,0.1);
        cursor: pointer;
      }
    }
    .deal-options {
      margin-bottom: 50px;
      .sorting {
        text-decoration: none;
        .param {
          float: left;
          padding: 10px;
          a {
            color: #818181;
            font-size: 16px;
            text-decoration: none;
            &:after {
              font-family: FontAwesome;
              content: "\f0d7";
              padding-left:10px;
            }
            &:hover {
              color: darken(#818181,10%);
            }
          }
          &:nth-child(1){
            width: 28%;
            padding-left: 35px;
          }
          &:nth-child(2){
            width: 42%;
          }
          &:nth-child(3){
            width: 15%;
          }
          &:nth-child(4){
            width: 15%;
            text-align: right;
            padding-right: 35px;
          }
        }
      }
      .offers {
        table.offer {
          width: 100%;
          background-color: #fff;
          border: 1px solid #E6E6E6;
          margin-bottom: 10px;
          td {
            padding: 15px 10px;
            vertical-align: top;
            &:nth-child(1) {
              width: 28%;
              padding-left: 35px;
            }
            &:nth-child(2) {
              width: 42%;
            }
            &:nth-child(3) {
              width: 15%;
            }
            &:nth-child(4) {
              width: 15%;
              text-align: right;
              padding-right: 35px;
            }
          }
          .title {
            margin-bottom: 10px;
          }
          .title,
          .date,
          .rooms-left
          {
            font-size: 20px;
            font-weight: 600;
          }
          .duration {
            font-size: 18px;
            color: #818181;
          }
          .label-transparent {
            padding: 5px 10px;
            font-weight:600;
            font-size: 17px;
            border: 1px solid #F09B67;
            color: #F09B67;
            border-radius: 4px;
          }
          .price{
            font-size: 30px;
            line-height:38px;
            font-weight: 800;
          }
          .btn-book {
            background-color: #8EC341;
            color: #fff;
            font-size: 14px;
            padding: 4px 15px;
            letter-spacing: 1px;
            i {
              padding-left:5px;
              font-size: 14px;
            }
            &:hover {
              background-color: darken(#8EC341,5%);
            }
          }
          &:first-child{
            border: 2px solid #F3D150;
            .btn-book {
              background-color: #F3D150;
              &:hover {
                background-color: darken(#F3D150,5%);
              }
            }
          }
        }
      }
      .more-info {
        font-size: 14px;
        color: #F09B67;
        text-decoration: none;
        i{
          padding-left: 5px;
        }
        &:hover {
          color: darken(#F09B67, 10%);
        }
      }
    }


  }
}


.pr-0 {
  padding-right: 0;
}
.pl-5 {
  padding-left: 5px;
}
.mt-30 {
  margin-top: 30px;
}