.results-page {
  background-size: cover;
  background: url("../img/results-bg.jpg") 0 0 repeat-x #f5f5f5; }

.va-middle {
  vertical-align: middle; }

.logo-wrapper {
  position: relative;
  width: 270px;
  height: 190px;
  float: left;
  z-index: 1; }
  .logo-wrapper .logo {
    position: absolute;
    top: 0;
    left: -60px; }

.top-menu {
  float: left;
  width: calc(100% - 270px);
  padding-top: 20px; }
  .top-menu .main-menu {
    margin-bottom: 15px; }
  .top-menu > ul {
    font-size: 0;
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    padding: 0; }
    .top-menu > ul > li {
      position: relative;
      display: inline;
      list-style: none;
      flex-grow: 1;
      text-align: center; }
      .top-menu > ul > li a {
        display: block;
        padding: 12px 5px;
        font-size: 12px;
        line-height: 14px;
        background: #7ec619;
        text-transform: uppercase;
        color: #fff;
        border-right: 1px solid #65b31d; }
      .top-menu > ul > li:first-child a {
        padding-left: 30px; }
      .top-menu > ul > li:last-child a {
        border: none; }
      .top-menu > ul > li.active a {
        background: #ed1c24; }
      .top-menu > ul > li.active:hover a {
        background: #de1219; }
      .top-menu > ul > li:hover a {
        text-decoration: none;
        background: #6ead16; }
      .top-menu > ul > li:hover > ul {
        display: block; }
      .top-menu > ul > li > ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0;
        border-top: 1px solid #4d981d; }
        .top-menu > ul > li > ul li {
          width: 100%; }
          .top-menu > ul > li > ul li a {
            width: 100%;
            text-align: left;
            border-bottom: 1px solid #4d981d;
            padding-left: 15px;
            padding-right: 15px; }
          .top-menu > ul > li > ul li:hover a {
            background: #4d971d; }

.breadcrumbs {
  padding: 0 20px;
  float: left; }
  .breadcrumbs ul {
    list-style: none; }
    .breadcrumbs ul li {
      display: inline-block;
      padding-right: 10px; }
      .breadcrumbs ul li a {
        font-size: 10px;
        color: #fff;
        padding-right: 10px; }
      .breadcrumbs ul li:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f105";
        vertical-align: middle;
        color: #fff;
        font-size: 10px; }
      .breadcrumbs ul li:last-child:after {
        content: ' '; }

.user-menu {
  float: right; }
  .user-menu ul {
    list-style: none;
    font-size: 0; }
    .user-menu ul li {
      display: inline-block;
      margin-right: 10px; }
      .user-menu ul li:before {
        content: '';
        display: inline-block;
        height: 25px;
        width: 12px;
        border-radius: 15px 0 0 15px;
        background: #fff;
        vertical-align: middle; }
      .user-menu ul li:after {
        content: '';
        display: inline-block;
        height: 25px;
        width: 12px;
        border-radius: 0 15px 15px 0;
        background: #fff;
        vertical-align: middle; }
      .user-menu ul li:last-child {
        margin-right: 0; }
      .user-menu ul li a {
        display: inline-block;
        background: #fff;
        color: #222;
        font-size: 12px;
        line-height: 25px;
        vertical-align: middle;
        text-decoration: none; }
        .user-menu ul li a:hover {
          color: #3c3c3c; }
          .user-menu ul li a:hover i {
            color: #88aa2a; }
      .user-menu ul li i {
        color: #a6ce39;
        padding-right: 5px;
        vertical-align: middle; }

.results-filter {
  margin-bottom: 30px; }
  .results-filter h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 400; }
  .results-filter .wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 15px; }
    .results-filter .wrapper .col {
      width: 20%;
      float: left;
      padding: 0 15px; }
      .results-filter .wrapper .col label {
        color: #6f777a;
        font-weight: 400;
        display: block; }
      .results-filter .wrapper .col .setting > label {
        width: 100%;
        display: inline-block;
        color: #6f777a;
        border-bottom: 1px solid #c1c1c1;
        padding-bottom: 5px; }
      .results-filter .wrapper .col .setting label {
        display: inline-block; }
  .results-filter .btn-reset {
    background: #ed1c24;
    color: #fff;
    width: 16%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 2px; }
    .results-filter .btn-reset:hover {
      background: #de1219; }

.block-image {
  display: block;
  border-radius: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.special-offers {
  margin-bottom: 40px; }
  .special-offers .item {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 5px; }
    .special-offers .item .picture {
      float: left;
      height: 170px;
      width: 250px; }
    .special-offers .item .top-offer {
      position: absolute;
      top: 25px;
      left: -3px; }
      .special-offers .item .top-offer .label {
        position: relative;
        background: #ed1c24;
        border-radius: 0 4px 4px 0;
        padding: 9px 12px; }
        .special-offers .item .top-offer .label:after {
          position: absolute;
          content: ' ';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 3px 3px 0;
          border-color: transparent #970c11 transparent transparent;
          left: 0;
          bottom: -3px; }
    .special-offers .item .info {
      position: relative;
      float: left;
      padding: 20px;
      width: 50%;
      height: 170px; }
      .special-offers .item .info h3 {
        margin: 0 0 10px;
        font-size: 21px;
        line-height: 14px; }
        .special-offers .item .info h3 a {
          text-decoration: none;
          color: #000; }
    .special-offers .item .destination .country {
      color: #585858;
      font-size: 18px;
      font-weight: 400;
      margin-right: 15px;
      vertical-align: middle; }
    .special-offers .item .destination .sun {
      color: #6b6b6b;
      margin-right: 15px; }
      .special-offers .item .destination .sun i {
        color: #f8c80a; }
    .special-offers .item .destination .water {
      color: #6b6b6b; }
      .special-offers .item .destination .water i {
        color: #1c89cd; }
    .special-offers .item .hotel-info {
      position: absolute;
      bottom: 10px;
      left: 20px;
      width: 100%; }
      .special-offers .item .hotel-info .block {
        float: left;
        margin-right: 20px;
        border-right: 1px solid #f2f2f2;
        padding: 5px 20px 10px 0; }
        .special-offers .item .hotel-info .block:nth-child(1) {
          width: 35%; }
        .special-offers .item .hotel-info .block:nth-child(2) {
          width: 30%; }
        .special-offers .item .hotel-info .block:nth-child(3) {
          width: auto;
          border: none; }
        .special-offers .item .hotel-info .block label {
          color: #fe7a00;
          font-size: 17px;
          margin-bottom: 0; }
        .special-offers .item .hotel-info .block .type {
          color: #6b6b6b;
          font-size: 15px;
          line-height: 15px; }
    .special-offers .item .price-block {
      position: relative;
      float: right;
      min-width: 200px;
      width: 25%;
      height: 170px;
      padding: 20px; }
      .special-offers .item .price-block .tripad {
        text-align: right;
        line-height: 18px; }
        .special-offers .item .price-block .tripad span {
          padding-right: 10px;
          vertical-align: top;
          color: #35851c;
          font-size: 18px; }
      .special-offers .item .price-block .prices {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 100%; }
        .special-offers .item .price-block .prices .block {
          float: left;
          padding: 0 5px; }
          .special-offers .item .price-block .prices .block:nth-child(1) {
            width: 80px; }
          .special-offers .item .price-block .prices .block:nth-child(2) {
            width: 158px;
            padding-right: 20px; }
          .special-offers .item .price-block .prices .block:nth-child(3) {
            width: 45px;
            padding-right: 0; }
        .special-offers .item .price-block .prices .old-price {
          text-decoration: line-through;
          color: #6b6b6b;
          font-size: 18px;
          margin-bottom: 5px;
          text-align: center; }
        .special-offers .item .price-block .prices .price {
          font-size: 30px;
          line-height: 30px;
          color: #000;
          text-align: right;
          font-weight: 600;
          margin-bottom: 8px; }
        .special-offers .item .price-block .prices .person {
          color: #6b6b6b;
          font-size: 15px;
          text-align: right; }
        .special-offers .item .price-block .prices .label-discount {
          position: relative;
          background: #ff0004;
          border-radius: 0;
          padding: 4px 5px;
          margin-left: 15px;
          font-size: 18px;
          font-weight: 400;
          color: #fff;
          display: inline-block; }
          .special-offers .item .price-block .prices .label-discount:after {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: #ff0000;
            border-width: 13px;
            margin-top: -13px; }
        .special-offers .item .price-block .prices .btn-select {
          background: #7ec619;
          padding: 8px 12px 11px;
          border-radius: 2px; }
          .special-offers .item .price-block .prices .btn-select i {
            color: #fff;
            font-size: 35px; }
    .special-offers .item .rate-stars {
      padding-left: 10px; }
      .special-offers .item .rate-stars i {
        font-size: 14px;
        color: #f8c80a; }

footer {
  background: #fff;
  padding: 30px 0; }
  footer ul li a {
    font-size: 13px;
    color: #7b7b7b; }
    footer ul li a:hover {
      text-decoration: none;
      color: #1485cb; }

.tripad-logo-local.logo-s {
  width: 29px;
  height: 16px; }

.tripad-logo-local {
  display: block;
  position: relative;
  overflow: hidden;
  margin-right: 4px !important; }

.tripad-logo-local.logo-s img {
  left: 0;
  top: 0; }

.tripad-logo-local .sprite-tripad-logo {
  background-image: url(../img/tripad-stars.png);
  background-position: 0 0;
  background-size: 99px 194px;
  width: 132px;
  height: 266px;
  background-repeat: no-repeat; }

.tripad-logo-local img {
  position: absolute; }

/*# sourceMappingURL=toptravel.css.map */
