$icomoon-font-path: "../fonts/skrydziai/fonts" !default;

$sk-luggage: "\e927";
$sk-briefcase: "\e926";
$sk-traveler-baggage: "\e922";
$sk-shopping-bag: "\e923";
$sk-golf: "\e924";
$sk-flight-destination: "\e925";
$sk-right-arrow: "\e920";
$sk-left-arrow: "\e921";
$sk-big-gift-box: "\e91f";
$sk-users_two_switch: "\e678";
$sk-users_two_switch_2: "\e679";
$sk-path-a-to-b: "\e91e";
$sk-lounge: "\e676";
$sk-magazines: "\e663";
$sk-miles: "\e667";
$sk-miles_25p: "\e668";
$sk-miles_50p: "\e669";
$sk-miles_100p: "\e66b";
$sk-miles_125: "\e66c";
$sk-miles_200p: "\e66d";
$sk-miles_250: "\e66e";
$sk-miles_300p: "\e66f";
$sk-miles_500: "\e670";
$sk-miles_750: "\e671";
$sk-miles_1000: "\e672";
$sk-miles_1250: "\e673";
$sk-miles_1500: "\e674";
$sk-miles_2000: "\e675";
$sk-sameday-standby: "\e677";
$sk-priority_checkin: "\e694";
$sk-priority_boarding: "\e695";
$sk-premium_food: "\e696";
$sk-more_space_recline: "\e697";
$sk-lounge_charge: "\e698";
$sk-seat_charge: "\e69b";
$sk-seat_no: "\e69c";
$sk-miles_upgrade_no: "\e6a3";
$sk-miles_upgrade: "\e6a4";
$sk-miles_150p: "\e6a5";
$sk-alacarte_dining: "\e6a7";
$sk-miles_absolute: "\e6aa";
$sk-miles_percent: "\e6ab";
$sk-seatmap_galley: "\e803";
$sk-seatmap_seat_legroom: "\e804";
$sk-one_way: "\e017";
$sk-round_trip: "\e018";
$sk-multi_connection: "\e019";
$sk-calendar: "\e600";
$sk-cancel: "\e601";
$sk-close: "\e601";
$sk-dropdown: "\e602";
$sk-facebook: "\e603";
$sk-google_plus: "\e604";
$sk-icon_19: "\e605";
$sk-icon_32: "\e606";
$sk-icon_38: "\e607";
$sk-icon_42: "\e608";
$sk-icon_48: "\e609";
$sk-icon_50: "\e60a";
$sk-icon_58: "\e60b";
$sk-icon_84: "\e60c";
$sk-instagram: "\e60d";
$sk-palme: "\e60e";
$sk-pin: "\e60f";
$sk-plane: "\e610";
$sk-profile: "\e611";
$sk-profile-4: "\e611";
$sk-profile-2: "\e612";
$sk-switch: "\e613";
$sk-switch2: "\e614";
$sk-tag: "\e615";
$sk-tag2: "\e616";
$sk-tikrinti_uzsakyma: "\e617";
$sk-uzsakymai_grupems: "\e618";
$sk-uzsakymai_internetu: "\e619";
$sk-viezbutis: "\e61a";
$sk-switch-3: "\e61b";
$sk-icon_40: "\e61c";
$sk-icon_70: "\e61d";
$sk-animal2: "\e61e";
$sk-bread2: "\e61f";
$sk-camp1: "\e620";
$sk-favorite21: "\e621";
$sk-icecreams9: "\e622";
$sk-mountain40: "\e623";
$sk-snow42: "\e624";
$sk-bell84: "\e625";
$sk-plane2: "\e626";
$sk-new_bell: "\e627";
$sk-bell-2: "\e627";
$sk-new_clock: "\e628";
$sk-new_left: "\e629";
$sk-new_profile: "\e62a";
$sk-new_right: "\e62b";
$sk-new_Security: "\e62c";
$sk-error_button: "\e62d";
$sk-info_button: "\e62e";
$sk-linkedin: "\e62f";
$sk-rightarrow59: "\e630";
$sk-rss: "\e631";
$sk-skype_messenger_voip_call: "\e632";
$sk-thumbs_up: "\e633";
$sk-tick_success: "\e634";
$sk-twitter: "\e635";
$sk-x_button: "\e636";
$sk-youtube_you_tube_google: "\e637";
$sk-close-2: "\e638";
$sk-close-3: "\e639";
$sk-add139: "\e63a";
$sk-delete96: "\e63b";
$sk-DOWNLOAD: "\e63c";
$sk-EDIT: "\e63d";
$sk-newspaper: "\e63e";
$sk-social: "\e63f";
$sk-VIEW: "\e640";
$sk-arrow-left: "\e641";
$sk-arrow-right: "\e642";
$sk-piggy_bank_coin: "\e643";
$sk-pinwheel: "\e644";
$sk-rocket: "\e645";
$sk-tag-1: "\e646";
$sk-ui_www: "\e647";
$sk-users_three: "\e648";
$sk-baggage: "\e649";
$sk-plane-3: "\e64a";
$sk-car: "\e64b";
$sk-seat: "\e64c";
$sk-plane-4: "\e64d";
$sk-plane-bed: "\e64e";
$sk-bed-2: "\e64f";
$sk-plane-5: "\e650";
$sk-multi_connection-2: "\e651";
$sk-handbag: "\e652";
$sk-food: "\e653";
$sk-priority: "\e654";
$sk-seats: "\e655";
$sk-seat-3: "\e656";
$sk-cards: "\e657";
$sk-table-tools: "\e658";
$sk-clock-2: "\e659";
$sk-plane-8: "\e65a";
$sk-plane3: "\e65b";
$sk-seat-2: "\e65c";
$sk-seat-check: "\e65d";
$sk-check-1: "\e65e";
$sk-check-2: "\e65f";
$sk-seat-4: "\e660";
$sk-uniE661: "\e661";
$sk-attention-triangle: "\e662";
$sk-attention-filled: "\e664";
$sk-cancel-2: "\e665";
$sk-attention: "\e666";
$sk-plane-7: "\e66a";
$sk-emotion: "\e800";
$sk-performance: "\e801";
$sk-Untitled-2-34: "\e802";
$sk-coffee_cup: "\e900";
$sk-compass: "\e901";
$sk-globe: "\e902";
$sk-envelope: "\e903";
$sk-right-arrows: "\e904";
$sk-email-send: "\e905";
$sk-horizontal_arrows: "\e906";
$sk-list-view: "\e907";
$sk-thumbs-view: "\e908";
$sk-grid-view: "\e908";
$sk-dollar: "\e909";
$sk-euro: "\e90a";
$sk-favorites: "\e90b";
$sk-map_pin: "\e90c";
$sk-left-arrow5: "\e90d";
$sk-wallet: "\e90e";
$sk-piggy_bank: "\e90f";
$sk-search2: "\e910";
$sk-email: "\e911";
$sk-double_bed: "\e912";
$sk-bed: "\e912";
$sk-user-tick: "\e913";
$sk-credit-card: "\e914";
$sk-wallet_coins: "\e915";
$sk-sale_percentage: "\e916";
$sk-caller_female: "\e917";
$sk-cogs: "\e918";
$sk-happy_face: "\e919";
$sk-smile: "\e919";
$sk-travelling: "\e91a";
$sk-transport: "\e91b";
$sk-plane-9: "\e91b";
$sk-alarm: "\e91c";
$sk-crossed-alarm: "\e91d";

