@import "variables";
@import "mixin";

.banner-block {
  img {
    max-width: 100%;
  }
}
.image-banner{
  background-position: center center;
  background-size: cover;
  width: $image-banner-width;
  height: $image-banner-height;
  border-radius: $border-radius-base;
  overflow: hidden;
  margin-bottom: $grid-gutter-width;
  position: relative;
  .block-info {
    color: #fff;
    .label {
      display: block;
      font-size: 20px;
      padding: 0;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &.yellow {
      background: rgba(#F5B801,.85);
    }
    .price {
      font-size: 40px;
      margin-left: 5px;
    }
  }
  &.style2 {
    .block-info {
      width: 100%;
      padding: 0 15px;
      bottom: 10%;
      .wrapper {
        position: relative;
        background-color: #F5B801;
        width: 100%;
        padding: 5px 0;
        min-height: 50px;
        @include radius(5px,5px,5px,5px);
        box-shadow: inset 0 -2px 0 0px rgba(#000,0.2);
        .title {
          float: left;
          width: 100%;
          text-align: left;
          padding: 5px 100px 5px 20px;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
        .price-part {
          position: absolute;
          right: 0;
          top: 0;
          padding: 15px;
          height: 100%;
          background-color: darken(#F5B801,8%);
          text-align: center;
          @include radius(0,5px,5px,0);
          box-shadow: inset 0 -2px 0 0px rgba(#000,0.2);
          .price {
            color: #fff;
            font-size: 34px;
            font-weight: 600;
            margin-left: 0;
          }
        }
      }
    }
    &.sidebar {
      .block-info {
        padding: 0 15px;
        bottom: 10%;
        .wrapper {
          padding: 5px 0;
          .title {
            font-size: 18px;
            text-align: left;
            padding-left: 5%;
          }
          .price-part {
            background-color: darken(#F5B801,8%);
            .price {
              color: #fff;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  &.special-offer-item {
    .block-info {
      width: 100%;
      padding: 0 15px;
      bottom: 10%;
      .wrapper {
        position: relative;
        background-color: rgba(#70c1e8,0.9);
        width: 100%;
        @include radius(5px,5px,5px,5px);
        box-shadow: inset 0 -2px 0 0px rgba(#000,0.2);
        .title {
          float: left;
          width: 100%;
          text-align: left;
          font-size: 22px;
          margin: 5px 0;
          padding: 5px 100px 5px 20px;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
        .price-part {
          position: absolute;
          right: 0;
          top: 0;
          padding: 11px 15px;
          height: 100%;
          background-color: #2483CA;
          text-align: center;
          @include radius(0,5px,5px,0);
          box-shadow: inset 0 -2px 0 0px rgba(#000,0.2);
          .price {
            color: #fff;
            font-size: 26px;
            font-weight: 600;
            margin-left: 0;
          }
        }
      }
    }
  }
}
.image-banner .valign-custom{
  height: $image-banner-height;
}
.image-banner p{
  margin: 0;
  padding: $image-banner-padding;
  font-size: $image-banner-title-font-size;
  text-align: left;
  color: $image-banner-title-color;
  display: block;
  border-radius: $border-radius-base;
  background: rgba($blue-color, 0.9);
  line-height: $image-banner-title-font-size * 1.1;
}
.image-banner p strong{
  display: block;
  text-transform: uppercase;
}
.banner-image{
  background-position: center center;
  background-size: cover;
  border-radius: $border-radius-base;
  overflow: hidden;
}
.banner-image span {
  height: $image-banner-height;
}
.banner-image span div {
  margin: 0;
  padding: $image-banner-padding;
  text-align: left;
  font-size: $image-banner-title-font-size;
  color: $image-banner-title-color;
  border-radius: $border-radius-base;
  display: block;
}
.why-banner{
  padding: $why-banner-padding - 5 $why-banner-padding $why-banner-padding - 5;
  border-radius: $border-radius-base;
  border: 1px solid $why-banner-border-color;
  h4{
    color: #324d5b;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: $font-size-large + 2;
    font-weight: 600;
  }
  ul{
    margin-bottom: $why-banner-padding;
    margin-left: 0;
    i {
      color: #324d5b;
    }
    .text {
      font-size: 14px;
      color: #717c88;
    }
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #324d5b;
  }
  .info {
    font-size: 11px;
  }
}
.big-banner{
  padding: $big-banner-padding-top $big-banner-padding-right $big-banner-padding-bottom $big-banner-padding-left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  height: $big-banner-height;
  font-size: $big-banner-font-size;
  color: $dark-color!important;
  text-decoration: none;
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;
  margin-bottom: $grid-gutter-width;
}
.big-banner .label-1,
.big-banner .label-2
{
  display: block;
}
.big-banner .label-2{
  font-size: $big-banner-font-size * 0.5;
}
.big-banner .label-2 strong{
  font-weight: 600;
  font-size: $big-banner-font-size - 4;
}
.block-image.banner-first {
  height: $banner-first;
}
.block-image.banner-next {
  height: $banner-next;
}
.block-image.banner-hotel-order {
  height: $banner-hotel-order;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.block-image.banner-heading,
.block-image.banner-heading .text-block {
  height: $banner-heading-height;
}
.page-banner {
  &.lowest-prices {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid $light-border-color;
    .text-block {
      display: table-cell;
      vertical-align: middle;
    }
    .text {
      margin: 0;
      padding: 20px;
      border-radius: $border-radius-base;
      background: rgba(0, 0, 0, 0.3);
      h1 {
        margin: 0;
        color: #fff;
      }
      h5 {
        margin: 0;
        color: #fff;
      }
    }
  }
}
.banners {
  .banner {
    img {
      max-width: 100%;
    }
  }
}

.h190 {
  height: 190px!important;
}

.ad-1 {
  $block-color: #FBB900;
  .block {
    overflow: hidden;
    background: #FFF;
    position: relative;
    border: 1px solid $block-color;
    border-radius: 3px;
  }
  h3 {
    color: #fff;
  }
  .ad-head {
    background: $block-color;
    color: #FFF;
    padding: 5px 20px;
  }
  .con {
    padding: 20px 0 30px;
  }
  .ad-footer {
    padding: 10px;
  }
  .btn {
    background: $block-color;
    &:hover {
      background-color: darken($block-color,5%);
    }
  }
  &.travel-sys {
    $block-color: #D15B5A;
    .block {
      border: 1px solid $block-color;
    }
    .ad-head {
      background: $block-color;
    }
    h3 {
      font-size: 20px;
    }
    .con {
      padding: 20px 0 0;
    }
    .prices-list {
      li {
        a {
          &:hover {
            background-color: $block-color;
          }
        }
      }
    }
    .btn {
      background: $block-color;
      &:hover {
        background-color: darken($block-color,5%);
      }
    }
  }
}
.ad-2 {
  $block-color: #ccc;
  .block {
    overflow: hidden;
    background: #FFF;
    position: relative;
    border: 1px solid $light-border-color;
    border-radius: 3px;
  }
  .block-image-travel {
    background-position: center;
    background-size: cover;
  }
  .ad-head {
    color: #ccc;
    padding: 10px 15px 0 15px;
    h3 {
      margin-bottom: 0;
      color: #fff;
    }
  }
  .prices-list {
    li {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 8px;
      background-color: rgba(#fff,.84);
      border-radius: 2px;
      a {
        text-decoration: none;
        padding: 0;
        .price {
          padding: 6px 0;
          max-width: 112px;
          text-align: center;
          background-color: #5f9cc9;
          color: #fff;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          strong {
            font-size: 20px;
            color: #fff !important;
          }
        }
        .title {
          padding: 8px 15px;
          color: #252525;
          font-size: 18px;
          &:hover {
            color: #252525;
          }
        }
        &:after {
          content: none !important;
        }
        &:hover {
          padding: 0;
          margin-top: 0;
        }
      }
    }
  }
  .con {
    padding: 10px 0 20px;
  }
  .ad-footer {
    padding: 0 15px 15px 15px;
    text-align: right;
    .btn-ad-footer {
      padding: 12px 14px;
      font-size: 15px;
      background-color: #f8cc0e;
      &:hover {
        background-color: darken(#f8cc0e,5%);
      }
    }
  }
  .btn {
    background: $block-color;
    &:hover {
      background-color: darken($block-color,5%);
    }
  }
  &.travel-sys {
    .ad-head {
      h3 {
        margin-top:5px;
      }
    }
    .prices-list > li > a {
      .price {
        line-height:21px;
      }
      .title {
        padding:7px 15px;
      }
      &:hover {
          background: $travels-primary-color;
      }
    }
    .con {
      padding:6px 0px 10px 0px;
    }
  }
}
.ad-3 {
  .prices-list {
    li {
      a {
        .title {
          padding-left: 10px;
          font-size: 15px;
        }
        small {
          font-size: 9px;
        }
        strong {
          font-size: 15px !important;
          small {
            font-size: 10px;
          }
        }
      }
    }
  }
}
.cross-selling-banner {
  background-size:cover!important;
  background-repeat:no-repeat!important;
  @include radius(2px,2px,2px,2px);
  overflow:hidden;
  color:#fff;
  a {
    display:block;
    width:100%;
    height:100%;
    color:#fff;
    &:hover {
      .cs-more {
        background:darken($success-color, 5%);
        @include transition(.1s);
      }
    }
  }
  .cs-title {
    font-weight:600;
    font-size:20px;
    line-height:18px;
  }
  .cs-more {
    background:$success-color;
    padding:5px;
    color:#fff;
    text-align:center;
    display:inline-block;
    @include radius(4px,4px,4px,4px);
    @include transition(.1s);
  }
  .row {
    display:block!important;
  }
  .cs-project-logo {
    display:block;
    img {
      width:140px;
      height:auto;
    }
  }
  &.default-banner {
    a {
      position:relative;
    }
    .cs-footer {
      position:absolute;
      width:100%;
      bottom:0;
      left:0;
      padding:10px;
      background:rgba(22,52,112,0.8);
    }
    .cs-header {
      background:rgba(22,52,112,0.8);
      padding:10px;
      width:100%;
      float:left;
    }
    .cs-title, .cs-more {
      display:block;
    }
    .cs-more {
      display:block;
    }
    .cs-project-logo {
      img {
        margin-top:4px;
        width:100px;
      }
    }
  }
  &.city-banner {
    width:300px;
    height:220px;
    float:right;
  }
  &.city-side-banner {
    width:100%;
    height:250px;
    .cs-project-logo {
      img {
        width:110px;
        margin-top:8px;
      }
    }
    .cs-header, .cs-footer {
      padding-left:15px;
      padding-right:15px;
    }
  }
  &.lpo-side-banner {
    .cs-project-logo {
      img {
        margin-top:8px;
      }
    }
  }
  &.lpo-side-banner, &.self-service-side-banner {
    width:100%;
    height:250px;
    margin-top:20px;
  }
  &.lpo-results-banner {
    width:100%;
    height:110px;
    margin-top:15px;
    .cs-content {
      display:block;
      height:100%;
      overflow:hidden;
      .content-bar {
        background:rgba(22,52,112,0.8);
        height:100%;
        padding:15px;
        width:auto;
        max-width:350px;
        display:inline-block;
      }
    }
    .cs-title {
      font-size:20px;
      line-height:20px;
      display:block;
    }
    .cs-more {
      min-width:120px;
      padding:4px 8px;
      font-size:16px;
      font-weight:600;
      margin-top:15px;
      display:inline-block;
    }
    .cs-project-logo {
      display:block;
      margin-top:10px;
    }
    .cs-hotel-count {
      font-size:18px;
    }
  }
  &.manual {
    background-size:contain!important;
  }
  &.manual, &.semi {
    margin:25px 0px;
  }
  &.semi {
    .cs-more {
      background:#FD4146!important;
    }
    a:hover {
      .cs-more {
        background:darken(#FD4146,10%)!important;
      }
    }
    &.h80 {
      min-height:80px;
      height:auto;
      .cs-more {
        padding:1px 8px;
      }
    }
  }
}
.airport-warning {
  text-align:left;
  margin-top: 15px;
  border-radius: 3px;
  display:block;
  padding: 20px 10px;
  border: 2px dashed #FD575C;
  background: url("/bundles/tripcloudproject/images/skrydziai/grid.png") repeat #fff !important;

  .warning-bubble {
    border-radius:50%;
    text-align:center;
    color:#fff;
    font-weight:600;
    position:relative;
    width:65px;
    height:65px;
    background:#ff4444;
    vertical-align:top;
    display:inline-block;
    margin:5px 25px 0 13px;
    .warning-icon {
      background:#fff;
      border-radius:50%!important;
      width:20px;
      height:20px;
      position:absolute;
      top:-4px;
      right:-4px;
    }
    .discount-amount {
      padding-top: 15px;
      font-size: 26px;
    }
    .fa {
      color: #fff;
      font-size: 30px;
      margin-top: 5px
    }
  }
  .warning-info {
    display:inline-block;
    color:#1c1c1c;
    width:80%;
    margin-top:5px;
    position: relative;
    padding: inherit;
    right: 0;
    top: 0;
  }
  .w-title {
    font-size:18px;
    font-weight:600;
  }
  .w-message {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FD575C;
  }
}