
  .container-fluid.invoice {
    max-width: 850px!important;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    .logo img {
      max-height: 60px !important;
      margin: 0 0 15px 0 !important;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 0;
      margin-top: 30px;
    }
    p {
      margin-bottom: 0;
    }
    .top {
      margin-top: 30px;
    }
    .upp {
      text-transform: uppercase;
    }
    .requisites {
      .heading {
        text-decoration: none;
        border-bottom: 1px dashed #ccc;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-bottom: 2px

      }
    }
    .order {
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .strong, strong {
      font-weight: 800;
    }
    table {
      width: 100%;
      border: 1px solid #dededc;
      th {
        background-color: #f5f5f5;
        color: #435c70;
        padding: 10px;
        border: 1px solid #dededc;
        text-align: right;
      }
      td {
        padding: 10px;
        vertical-align: middle;
        text-align: right;
        border: 1px solid #dededc;
      }
    }
    .more {
      color: #df8143;
      font-weight: 600;
      margin-top: 30px;
      font-size: 16px;
    }
    .btn {
      font-size: 16px;
    }
    .foot-sep {
      border-bottom: 1px solid #ccc;
      width:30%;
    }
    .sep-dash {
      border-bottom: 1px dashed #ccc;
      width:50%;
    }
    .fs-15 {
      font-size: 15px;
    }
    .purpose {
      font-size: 18px;
      font-weight: 600;
      color: #ff0000;
    }

  }

  @media print {

    .container-fluid.invoice {
      font-family: Arial, sans-serif;
    }

  }
