@import "variables";
@import "mixin";

#tripcloud-setts {
  $fade-red: #e06363;
  $discount-size: 55px;
  .travel-sys {
    &.sh {
      span {
        font-weight: 600;
        color: $travels-red-color;
      }
    }
    .btn-primary, .btn-success {
      background:$travels-primary-color;
      border-color:$travels-primary-color;
      &:hover,
      &:focus,
      &:active,
      &.active
      {
        background:darken($travels-primary-color,2%);
      }
      &.disabled,
      &[disabled]
      {
        background:darken($travels-primary-color,2%);
        &:hover,
        &:focus,
        &:active {
          background:darken($travels-primary-color,2%);
        }
      }
      &.btn-sm {
        font-size:16px;
        line-height:16px;
      }
    }
    .order {
      &.btn-primary, &.btn-success {
        font-size: 28px;
      }
      &.btn-success {
        background:$success-color;
        &.disabled,
        &[disabled]
        {
          background: $success-color;
        }
      }
    }
    .results-counter {
      margin-left: 0;
      margin-bottom: 20px;
      margin-top: 0;
    }
    .destination-list {
      font-size: 14px;
      color: $link-color;
      float: right;
      padding-top: 2px;
    }
    .hotel-title {
      h1 {
        font-weight: 800;
        &:first-letter {
          text-transform:uppercase;
        }
      }
    }
    &.sidebar-form {
      .destination-list {
        float: none;
        padding-top: 0;
        margin-bottom: 10px;
        display: inline-block;
      }
    }
    &.temp {
      margin-left:20px;
      .glyphicons {
        margin-right: 5px;
      }
      .sun {
        color: #FB3
      }
      .water {
        color: #208CD7;
        margin-left: 10px;
      }
    }
    &.order-aside {
//      .panel {
//        background-color: $light-bg-color!important;
//      }
      .panel-body {
        padding: 0;
      }
      .rate-stars {
        .star:not(.fa-star-o) {
          color: #FB3;
        }
      }
      .hotel-section {
        padding-bottom: 0;
        label{
          margin-top: -5px;
          margin-bottom: 0;
        }
      }
      .title {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 10px;
      }
      .travel-icons {
        p {
          margin-bottom: 4px;
        }
        .fa {
          font-size: 16px;
          margin-right: 5px;
          padding-left: 0;
        }
      }
      .hotel-title {
        padding: 0 0 2px;
      }
      .panel-footer {
        p {
          line-height: 16px;
        }
      }
      .advanced-amount {
        color: $orange-color;
      }
      .includes {
        margin-top: 10px;
        font-size: 14px;
        color: #666;
      }
    }
    .block-image-travel {
      border:none;
      border-radius:2px;
      .prices-list {
        .row:hover {
          background:#fff;
          .price {
            background:darken($travels-blue-color,5%);
          }
        }
      }
    }
    &.content-block {
      h1,h2 {
         color:$travels-blue;
      }
      .h-advantages, .h-distances {
        span {
          display:inline-block;
          padding:7px 30px;
          color:#fff;
          min-width:80%;
          text-align:center;
          @include radius(4px,4px,4px,4px);
        }
      }
      .h-advantages {
        span {
          background-color:$label-success-bg;
        }
      }
      .h-distances {
        span {
          background-color:$travels-primary-color;
        }
      }
      .description {
        .label-success {
          display:inline-block;

        }
      }
    }
    .path {
      color: #7C7F86;
      margin-top: 0;
    }
    .breadcrumb {
      td, li {
        &:first-child {
          padding-left: 0;
        }
        span {
          color: #7C7F86;
        }
      }
      td:not(:last-child):after,
      > ul > li:not(:last-child):after {
        content: "\f105";
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .modal-rooms {
      .action-btn.add {
        display: none!important;
      }
    }
    &.payment-method {
      .travels {
        &.order-progress {
          margin-top: 5px;
        }
      }
    }
    .order-progress {
      &.travels {
        margin-top: 5px;
        .order-step {
          padding: 7px 15px;
          &.previous {
            background-color: $travels-primary-color!important;
            color: #fff;
            .badge {
              color: $travels-primary-color!important;
            }
          }
          &.active {
            background-color: $travels-primary-color!important;
            .badge {
              color: $travels-primary-color!important;
            }
          }
          .badge {
            width: 28px;
            height: 28px;
            padding: 8px;
          }
        }
      }
    }

    .order-content-block {
      .order-title:not(.remark) {
        color: $link-color;
      }
    }
    .order-summary {
      .sidebar-block {
        padding: 15px;
        &:not(:last-child) {
          border-bottom-style: solid;
        }
      }
      .toggler-container {
        padding-bottom: 0;
        p {
          font-size: 13px;
          margin-bottom: 0;
          color: $grey-color;
        }
        .form-group {
          margin-bottom: 10px;
        }
      }
      h4 {
        border-bottom: none;
        font-weight: 400;
      }
      .hotel-title {
        color: $link-color;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        padding-left: 0;
      }
      .hotel-address {
        font-size: 13px;
        color: $grey-color;
      }
      .t-label{
        color: #374753;
        font-size: 18px!important;
        margin-bottom: 10px;
      }
      label {
        margin-bottom: 0;
      }
      .panel-footer {
        border-top: 1px dashed #ccc;
        .price-value {
          display: block;
        }
      }
      .offer-price {
        .price-value {
          color: #252525;
        }
      }
      .layovers {
        .layover:nth-child(n+2) {
          border-top: none;
          margin-top: 0;
        }
        &:last-child {
          .layover:last-child {
            border-bottom: none;
          }
        }
      }
      .layover {
        margin-top: 5px;
        padding: 3px 0;
        border-top: 1px dashed $light-border-color;
        border-bottom: 1px dashed $light-border-color;
        i {
          font-size: 11px;
          padding-right: 5px;
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
        }
      }
    }
    .order-title-block {
      .page-title {
        margin-top: 20px;
      }
    }
    .order-right-side {
      width: 27%;
    }
  }
  .travel-sale-block {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 18px;
    color: #fff;
    background-color: $travels-red-color;
    height:324px;
    margin-top:1px;
    .percent {
      margin-top: -1px;
      padding: 0 8px;
      width: 38px;
      font-size: 25px;
      color: #d8534f;
      background-color: #fff;
      font-weight: 600;
    }
    .triangle-down {
      display: block;
      height: 0;
      width: 0;
      border-left: 19px solid transparent;
      border-right: 19px solid transparent;
      border-top: 19px solid #fff;
    }
    .sale {
      font-size: 35px;
    }
    .count {
      margin-bottom: 4px;
      line-height: 42px;
      font-size: 56px;
      font-weight: 600;
      .count-to {
        font-size: 33px;
        font-weight: 400;
      }
      .percent-main {
        font-size: 34px;
      }
    }
    .describe {
      padding-top: 5px;
      padding-bottom: 2px;
      font-size: 15px;
      letter-spacing: -0.4px;
      height:88px;
      overflow:hidden;
    }
    .line {
      border-top: 1px solid #cb404d;
      display: block;
    }
    .btn-travel-sale {
      padding-top: 12px;
      padding-bottom: 12px;
      color: #fff;
      width: 100%;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 2px;
      font-size: 15px;
      font-weight: 600;
      &:hover,
      &:focus {
        color: $travels-red-color;
        background-color: #fff;
        border: 1px solid #fff;
      }
    }
    &:hover {
      color: #fff;
    }
    @media (max-width: 1120px) {
      .describe {
        font-size: 13px;
      }
    }
    @media (max-width: 1028px) {
      .sale {
        font-size: 28px;
      }
    }
    @media (max-width: 985px) {
      .btn-travel-sale {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
      }
      .describe {
        font-size: 12px;
        min-height: 103px;
      }
    }
  }
  .discount-label {
    display: block;
    position: absolute;
    left: -8px;
    top: 10px;
    text-align: center;
    background-color: $travels-red-color;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
    border-radius: 3px 6px 6px 0;
    z-index: 1;
    &.more-than-50 {
      background-color: $travels-red-color;
    }
    .percent {
      font-size: 20px;
      line-height: 18px;
      margin: 0;
      padding-top: 10px;
    }
    .text {
      font-size: 10px;
      margin-bottom: 5px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 0;
      height: 0;
      border: 4px solid darken($travels-red-color,10%);
      border-bottom-color: transparent;
      border-left-color: transparent;
      white-space: normal;
    }
  }
  .travel-info {
    .hotel-images {
      .sale {
        width: $discount-size;
        height: $discount-size;
        line-height: $discount-size;
        background:$travels-red-color
      }
      .label-tri {
        .meal {
          background:$travels-red-color;
        }
      }
      .discount-label{
        @extend .discount-label;
      }
    }
  }
  .photo-container {
    .discount-label {
      top: 30px;
    }
  }
  .btn-more {
    background-color:$travels-blue-color;
    padding:10px;
    color: #fff;
    &:hover {
      background-color: darken($travels-blue-color,5%);
    }
  }

  span.map-preview {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 5;
    padding-bottom: 0;
  }
  .preview-map {
    $size: 300px;
    position: absolute;
    width: $size * 2;
    height: $size;
    top: 20px;
    left: -($size - 20);
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .travel-best-offers {
    margin-bottom: 60px;
    .offer-block {
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      //height:319px;
      &:hover {
        box-shadow: 0px 0px 10px 0px rgba(158, 158, 158, 0.5);
      }
      .label-success {
        font-size:12px;
        padding:1px 5px;
      }
    }
    .content-block {
      border-left: 1px solid #EBECF0;
      border-right: 1px solid #EBECF0;
      border-bottom: 1px solid #EBECF0;
      &.special {
        border-color: #ffb125;
      }
    }
    .block-image {
      height: 160px;
      border-bottom-left-radius: 0!important;
      border-bottom-right-radius: 0!important;
      .country {
        position: absolute;
        left: 10px;
        top: 15px;
        background-color: #fff;
        color: #73889b;
        font-size: 14px;
        padding: 1px 10px;
        border-radius: 2px;
        opacity: 0.9;
        .flag {
          margin-right: 5px;
          margin-top: 1px;
          margin-left: -5px;
        }
      }
      .discount-label {
        @extend .discount-label;
      }
    }
    .info-block {
      padding: 15px 10px 10px 9px;
      .title {
        height: 34px;
        color: #7c7f86;
        font-size: 14px;
        p {
          margin-bottom: 0;
          display: block;
          max-height: 42px;
          overflow: hidden;
          font-size: 18px;
          color: #00a2de;
          font-weight: 600;
          line-height: 18px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        span i {
          margin-right: 5px;
        }
      }
      .tripadvisor {
        margin-top: 5px;
        color: $tripadvisors-color;
        .rate {
          margin-top: 4px;
        }
        .rate-text {
          margin: 0 5px;
          font-weight: 600;
          font-size: 20px;
          line-height: 1.1;
        }
      }
    }
    .footer {
      background-color: $light-bg-color-3;
      padding: 15px 10px;
      height:80px;
      overflow:hidden;
      .date {
        font-size: $font-size-medium;
        line-height: 1.2;
      }
      .duration {
        line-height: 1.2;
      }
      .price {
        color: $travel-price-color;
        font-size: 24px;
        font-weight: 600;
        line-height: 15px;
        margin-top: 4px;
        text-align: right;
        &.old {
          text-decoration: line-through;
          font-size: 14px;
          color: #999;
          margin-top: 2px;
          font-weight: 400;
          i {
            font-size: 13px;
            font-style: normal;
          }
        }
        i {
          font-style: normal;
          font-size: 16px;
        }
      }
    }
    .btn-more-properties {
      padding: 8px 10px;
    }
    .tripadvisor-review {
      position: absolute;
      right: 0;
      bottom: 15px;
      background-color: rgba(#fff,0.9);
      padding: 5px 7px;
      min-width: 130px!important;
      .score {
        width: 30px;
        height: 30px;
        line-height: 30px;
        -webkit-border-radius: 3px;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius: 3px;
        -moz-border-radius-bottomleft: 0;
        border-radius: 3px;
        border-bottom-left-radius: 0;
        background-color: $tripadvisors-color;
        text-align: center;
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        float: left;
        margin-right: 5px;
      }
      .review-content {
        float: left;
      }
      .value {
        font-size: 14px;
        font-weight: bold;
        color: $tripadvisors-color;
        display: block;
        clear: both;
      }
      .review-count {
        display: block;
        font-size: 11px;
        color: #2F2F2F;
        margin-top: -2px;
        font-weight: 600;
      }
    }
  }
  .offer-block {
    &.resort {
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
//      height: 290px;
      .block-image {
        height: 160px;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
      .content-block {
        padding: 10px;
        border-left: 1px solid #EBECF0;
        border-right: 1px solid #EBECF0;
        border-bottom: 1px solid #EBECF0;
      }
      .title {
        padding-bottom: 10px;
        .city {
          font-weight: 600;
          text-transform: uppercase;
        }
      }
      .offers-count {
        padding-bottom: 20px;
      }
      .btn {
        background-color: $success-color;
        color: #fff;
      }
      .price-block {
        position: absolute;
        background-color: rgba($travels-primary-color,0.9);
        right: 0;
        bottom: 0;
        padding: 5px 10px;
        .price {
          font-size: 20px;
          color: $red-color;
          font-weight: 600;
        }
      }
    }
  }
  .weather-filter {
    .dropdown-body {
      padding: 10px 15px;
    }
  }
  .travel-filter {
    label {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .select2-choices {
      padding:0;
      margin:0;
      background-image:none;
      .select2-search-field {
        .select2-input {
          padding:8px 15px 8px 10px;
          box-shadow:none;
        }
      }
    }
    .form-control {
      box-shadow:none;
    }
    .filter-btn:hover {
      border:1px solid #e7e7e7;
    }
    &.well {
      label {
        color:#fff;
      }
      .filter-title {
        color:#fff;
        text-transform:uppercase;
        padding-bottom:10px;
        display:block;
      }
      .dropdown-toggle {
        white-space:normal;
      }
      .btn-group {
        &.open {
          .dropdown-toggle {
            box-shadow: none;
          }
        }
        .multiselect-container {
          label {
            color:#888;
            font-weight:normal;
          }
        }
      }
      .btn-default, .form-control {
        border:none;
        background:#fff;
        line-height:1.42857;
        height:auto;
        font-size:16px;
        padding:7px 15px;
        &:active, &:focus {
          background:#fff;
          box-shadow:none;
          color:#888;
        }
      }
      .weather-filter {
        .dropdown-toggle {
          background-color:initial;
        }
      }
    }
  }
  .travel-search-form {
    .tab-content {
      h1 {
        color: #324d5b!important;
      }
      label {
        color: #4D4E5A;
        font-weight:600;
        font-size:14px;
      }
      .btn-block {
        width:auto;
        float:right;
      }
      .btn-primary {
        background: #ffa400;
        text-shadow: 0 -1px 0 #db7e01 !Important;
        border-left: 1px solid #ed8800;
        border-right: 1px solid #ed8800;
        border-top: 1px solid #fd9100;
        border-bottom: 1px solid #db7e01;
        background-image: linear-gradient(to bottom,#ffa400,#ff8300);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
        &:hover {
          background-image: linear-gradient(to bottom,darken(#ffa400,5%),darken(#ff8300,5%));
        }
        &.big {
          font-size:22px!important;
          padding:14px 15px;
        }
      }
    }
  }
  .travel-search-block,
  .travels-research-block,
  .hotel-change-date {
    .action-btn {
      &.add {
        display:none!important;
      }
    }
  }
  .travel-search-block,
  .block-image-travel {
    .btn-primary {
      margin-top:10px;
      padding: 11px 15px;
      font-size:18px!important;
      line-height:18px;
    }
  }
  .travel-research-block {
    .btn-primary {
      padding:11px 15px;
    }
  }
  .left-side.travel {
    background: $light-bg-color-2;
    color:#000;
    label > span.title, .checked label > span.title {
      padding:0;
      & > span {
        width:auto;
        height:auto;
        background:none;
        display:inline-block;
        border-radius:0;
        margin:0;
      }
    }
    .tripadvisor {
      margin-bottom:10px;
    }
  }
  .travel-search-block,
  .travel-search-form .search-content,
  .travels-research-block {
    border: 2px solid #ffdb00;
    .form-group {
      margin-bottom: 15px;
    }
    .form-control {
      box-shadow:none;
      cursor:pointer;
      .select2-choice {
        box-shadow:none;
      }
      &:focus, &:active, &.select2-container-active {
        border:1px solid #5d9bd5!important;
        box-shadow:0 1px 1px rgba(176, 210, 255, 0.6) inset, 0 0 8px rgba(145, 179, 239, 0.6);
      }
    }

    .autocomplete-search-results {
      width: 350px;
      max-height: 400px;
      overflow: auto;
      .country {
        padding:0;
        & > .flag {
          left: 12px;
        }
        & > .item-wrapper {
          opacity:.7;
          padding:8px 10px 8px 35px;
          .title {
            color: #5D5D5D;
          }
        }
      }
      .destinations {
        margin:0;
        padding:0;
        background:#fff;
        border-top:1px solid #e7e7e7;
        a {
          padding:7px 7px 7px 25px;
          &.active {
            background-color:$travels-primary-color;
            .title {
              color: #fff;
            }
          }
          &:hover {
            padding-left:25px!important;
            .title {
              color: #fff;
            }
          }
          .flag {
            display: none;
            float: left;
            position: absolute;
            vertical-align:middle;
            top: 9px;
          }
          .title {
            color:#252525;
            margin-right: 0;
          }
        }
        li {
          opacity:1;
          list-style:none;
          &:not(:last-child) {
            border-bottom: 1px solid #e7e7e7!important;
          }
        }
        .item-wrapper {
          padding-left: 10px;
        }
      }
      ul > li {
        a.item:hover, a.item.hover, a.my-location.hover, a.nearby.hover, a.link:hover {
          margin:0;
        }
      }
      .item {
        .title {
          font-weight: 400;
          white-space: nowrap;
          font-size: 15px;
        }
      }
    }
  }
  .travels-research-block {
    .destination-list {
      float:left;
      padding:0;
      margin:0 0 10px 0;
    }
    .help-block:empty {
      margin:0;
    }
  }
  .travel-destination-list {
    max-width:none;
  }
  .assistant-block {
    border-color:$travels-blue-color;
    .phone {
      font-size:17px;
    }
  }
  .travel-destinations {
    background:#f8f8f8;
    margin-bottom:50px;
    .block-image {
      height:164px;
      border-radius:0!important;
      overflow:hidden;
      .title {
        display:block;
        padding:30px 40px;
        color:#fff;
        font-size:40px;
        line-height:50px;
      }
    }
    .cities-content {
      padding:25px 15px;
      .prices-list {
        li {
          background-color: #fff;
          border-radius: 2px;
          margin:8px 15px 0px 15px;
          box-shadow:1px 1px 2px darken(#f8f8f8,5%);
          &:hover {
            box-shadow:1px 1px 2px darken(#f8f8f8,10%);
          }
          a {
            padding:0;
            .price {
              background-color: $fade-red;
              border-bottom-right-radius: 2px;
              border-top-right-radius: 2px;
              color: #fff;
              padding:9px 10px 4px;
              line-height:21px;
              text-align: right;
              @include transition(.4s);
              strong {
                color:#fff;
              }
            }
            &:hover {
              margin:0;
              .price {
                @include transition(.4s);
                background-color:darken($fade-red, 10%);
              }
            }
            &:after {
              content:none;
            }
          }
          .title {
            color: #252525;
            font-size: 17px;
            padding: 8px 15px
          }
        }
      }
    }

  }
  .filter-btn {
    &.active {
      background-color: $travels-primary-color;
    }
  }
  .biggest-discounts-block {
    .head {
      background-color: $travels-primary-color;
      h3 {
        margin: 0;
        padding: 15px 0;
        font-size: 18px;
        color: #fff;
        text-align: center;
      }
    }
    .prices-list {
      > li > {
        a {
          .price {
            font-size: 18px;
            font-weight: 600;
            small {
              font-weight: 400;
            }
          }
          &:hover {
            background: $travels-primary-color;
            color: #FFF;
            .label {
              background-color: #fff;
              color: $travels-primary-color;
            }
          }
        }
      }
    }
    .more {
      padding: 15px 10px;
      text-align: right;
      font-size: 14px;
    }
    .label {
      margin-left: 40px;
    }
  }
  .travel-information {
    h2 {
      color: #324d5b;
    }
    .quote {
      font-size: 50px;
      color: $grey-color;
      display: block;
      line-height: 0;
      font-family: Arial;
      &.left {
        text-align: left;
        margin-top: 35px;
      }
      &.right {
        text-align: right;
        margin-bottom: 35px;
      }
    }
    .quote-block {
      position: relative;
      padding: 20px;
//      background-color: #fff;
      .quote-text {
        font-size: 16px;
        color: $grey-color;
        font-style: italic;
        text-align: center;
        padding: 0 30px;
        margin-top: -20px;
        margin-bottom: -20px;
      }
      .sentence {
        margin-top: 20px;
      }
    }
    .agent-block {
      text-align: right;
      img {
        border-radius: 999px;
        width: 130px;
        height: 130px;
      }
    }
    .agent-info {
      text-align: left;
      font-size: 16px;
      color: $grey-color;
    }
    .hotel-benefits {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
      .title {
        margin: 10px 0;
        color: #484747;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
      }
      .description {
        span {
          margin-right: 0;
          position: relative;
          padding-left: 20px;
          color: $dark-color;
          display: inline-block;
          &:before {
            font-size: 11px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font: normal normal normal 14px/1 FontAwesome;
            color: #9C0;
            position: absolute;
            top: 3px;
            left: 0;
            content: "\f00c";
          }
          &.label {
            background-color: transparent!important;
            color: $dark-color;
          }
        }
      }
    }
  }
  .travel-data {
    display: none;
  }
  .travel-page {
    .travel-data {
      display: inline-block;
    }
    .not-travel-data {
      display: none;
    }
  }
  .travel-icons i {
    color: $success-color;
    font-size: 20px;
    display: inline-block;
    margin-right: 15px;
    &.grey {
      color: $grey-color;
    }
  }

  .offer-list {
    margin-top: 0;
  }
  .travels {
    .custom-filter-wrapper {
      margin-bottom: 25px;
    }
    .search-results-name {
      h2 {
        margin-bottom: 2px;
        span, i {
          color: #0085ca;
        }
        i {
          font-size: 28px;
        }
        .counter {
          margin-left: 10px;
        }
      }
      span {
        color: #888;
        margin-left:0;
      }
    }
    .custom-filter {
      margin-top: 20px!important;
      a {
        display: block;
        padding: 5px 10px 5px 5px;
        border-radius: 4px !important;
        color: #5F5F5F;
        background-color: #f9f9f9;
        &.active{
          background-color: #fff;
          border-color: #fe6601;
          i {
            color: #fe6601;
          }
        }
        &:hover {
          color: #fe6601;
          border-color: #fe6601;
          i {
            color: #fe6601;
          }
        }
      }
      .filter-icon {
        margin-top: 0;
      }
    }
    .btn-link {
      border-color: #00a2de;
    }
  }

  .panel-travel {
    margin-bottom: 0;
    .panel-heading {
      $text-color: #18842A;
      background-color: #fff;
      border-top: 1px solid $light-border-color;
      border-left: 1px solid $light-border-color;
      border-right: 1px solid $light-border-color;
      padding: 14px 15px 0 15px;
      thead {
        border-bottom: none;
      }
      .icon-block {
        padding-left: 32px;
        position: relative;
        color: #549814;
        i {
          position: absolute;
          top: 0;
          left: 0;
          color: #549814;
        }
      }
      i {
        line-height: 40px;
        font-size: 24px;
      }
      .title {
        font-size: 20px;
        vertical-align: middle;
        font-weight: 600;
      }
      .text {
        font-size: 16px;
        margin-bottom: 0;
        color: #4e4e4e;
        line-height: 0.7;
      }
      .label {
        margin-left: 10px;
      }
      .best-price {
        background: #FFF;
        border: 1px solid $light-border-color;
        border-radius: 2px;
        color: #FD575C;
        font-weight: 600;
        padding: 8px 10px 8px;
        margin-top: 2px;
        i {
          font-size: 16px;
          line-height: 18px;
        }
      }

    }
    .panel-body {
      padding: 0;
      .strike {
        text-decoration: line-through;
      }
      .room-title {
        font-size: 16px;
        font-weight: 400;
      }
      table {
        tbody tr {
          cursor: pointer;
        }
        tr.active, tr:hover{
          background-color: #f9f9f9;
          .radio.styled:not(.checked) .ico:before {
            display: block;
            background: #e7e7e7;
          }
        }
        tr.last-visible td {
          border-bottom: none;
        }
        &.all-rooms tr{
          display: table-row !important;
          &.last-visible td {
            border-bottom: 1px solid $light-border-color;
          }
        }
      }
      tr {
        &.travel-includes {
          td {
            text-align: left;
            vertical-align: top;
            padding-left: 15px;
            font-weight:400;
            &:nth-child(2) {
              border-right: 1px solid $light-border-color;
            }
          }
          .label {
            display: inline-block;
            margin-bottom: 10px;
          }
          p {
            font-size: 14px;
            margin-bottom: 7px;
          }
        }
      }
      th {
        background-color: #fff;
        border-top: 1px solid $light-border-color;
        border-bottom: 1px solid $light-border-color;
        color: $grey-color;
        font-size: 13px;
        font-weight: 600;
        text-align: left;
        padding: 8px 5px;
        vertical-align: middle;
        &.bold {
          font-weight: 600;
        }
        &.color-light {
          background-color: $light-bg-color-2;
        }
      }
      td {
        width: 25%;
        padding: 10px 5px;
        border-bottom: 1px solid $light-border-color;
        vertical-align: middle;
        p {
          vertical-align: middle;
          line-height: 16px;
          margin-bottom: 3px;
          font-size: 15px;
        }
      }
      td, th {
        &:nth-child(1) {
          width: 27%;
          padding-left: 15px;
          border-left: 1px solid $light-border-color;
        }
      }
      th {
        &:nth-child(2) {
          width: 27%;
        }
      }
      td {
        &:nth-child(2) {
          @extend th:nth-child(2);
        }
      }

      td, th {
        &:nth-child(3) {
          width: 16%;
          p:last-child {
            margin-bottom: 0;
          }
        }
      }
      td, th {
        &:nth-child(4) {
          width: 5%;
        }
      }
      td:nth-child(5) {
        width: 10%;
        text-align: center;
      }
      th:nth-child(5) {
        @extend td:nth-child(5);
        text-align: right;
//        padding-right: 20px;
      }

      td:nth-child(6) {
        width: 20%;
        text-align: right;
      }

      td, th {
        &:last-child {
          border-right: 1px solid $light-border-color;
          padding-right:15px;
        }
      }
      .label {
        &.label-danger:not(.old) {
          background: #fff!important;
          border: 1px solid #f44;
          color: #f44;
          font-weight: bold;
        }
        &.vacancies {
          color: #fff;
          background-color: #fd575c;
          max-width: 100px;
          padding: 0px 5px;
          font-size: 12px;
          border-radius: 2px;
        }
      }
      .radio {
        margin-top: 10px;
        margin-bottom: 0;
        label {
          font-size: $font-size-large;
          font-weight: 600;
        }
      }
      .coral, .red {
        color: lighten($coral-color, 26%);
      }
      .price-value {
        font-size: 24px;
        vertical-align: middle;
      }
      .rooms-options {
        label {
          .ico {
            position: absolute;
            left: 0;
          }
          padding-left: 30px;
          display: inline-block;
        }
        .offer-price  {
          sup {
            font-size: 14px;
            top: -10px;
          }
          .price-value {
            color: #fe6601;
            span {
              font-size: 16px;
              margin-left: 5px;
              //              vertical-align: bottom;
              //              display: inline-block;
            }
            .price-int{
              font-size: 30px;
            }
          }
          .old-price {
            font-size: 14px;
            color: #999;
            text-decoration: line-through;
            margin-left: 5px;
            margin-right: 5px;
            display: block;
            vertical-align: bottom;
          }
          label {
            font-weight: 600;
            font-size: 12px;
            padding: 0.35em 0.6em;
          }
        }
        .all-inclusive {
          color: #ff9100!important;
          i, span {
            vertical-align:middle;
          }
        }
        .btn-sm {
          padding: 10px 26px;
          border-color: #9dce0c;
          background: #9dce0c;
          font-size: 18px;
          font-weight: 600;
          border-radius: 2px;
        }
      }
    }
    .plus {
      color: #bbb;
    }
  }

  .room-prices {
    .hotel-benefits {
      clear: both;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 0;
      -moz-column-gap: 0;
      column-gap: 0;
      .category {
        display: inline-block;
        margin: 0px 10px 20px 0;
        width: 340px;
        .title {
          margin-bottom: 10px;
          color: #324d5b;
        }
      }
      ul {
        li {
          color: #525252;
          font-size: 15px;
          line-height: 26px;
          position: relative;
          i {
            font-size: 11px;
            color: $success-color;
            position: absolute;
            top: 6px;
          }
          span {
            padding-left: 15px;
            display: inline-block;
            vertical-align: text-top;
            line-height: 18px;
          }
        }
      }
    }
    .alert-warning {
      margin-bottom: 30px;
    }
  }

  .well {
    &.hotel-change-date {
      border: 1px solid #D4D4D4;
      background: url("/bundles/tripcloudproject/images/skrydziai/grid.png") repeat rgba(#D1E7F3, 0.05);
      .btn {
        font-size: 18px;
        padding-top: 6px;
        padding-bottom: 5px;
      }
    }
    &.agent-block {
      background-color: #fffcec;
      border: 2px solid #ffdb00;
      border-radius: 10px;
      padding: 20px 20px;
      margin: 15px 0;
      .name {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
        color: #0085ca;
      }
      .duty {
        font-size: 14px;
        color: #0085ca;
        font-weight: 600;
      }
    }
  }

  .room-btn {
    padding: 8px 15px!important;
    font-size: 20px!important;
    font-weight: 600;
  }

  .offer-price .price-value {
    font-weight: 600;
    color: #F44336;
  }
  .block-image.thumb{
    height: 48px;
    width: 48px;
  }

  .tab-content.search-content.bordered.all,
  .navbar,
  .btn:not(.btn-demo):not(.switcher),
  .btn-sm:not(.btn-demo):not(.switcher),
  .why-banner,
  .image-banner,
  .left-side.bordered,
  .right-side.bordered,
  .alert,
  .panel,
  .well,
  .flight-details .direction,
  .special-offers .tab-pane .price-block,
  .order-number .number,
  .lowest-special-offer .block-wrapper,
  .footer {
    border-radius: 3px;
  }

  .right-side {
    &.tripadvisor-block {
      border: 1px solid $light-border-color;
      .heading {
        background-color: #fff;
        text-align: center;
        padding: 12px 10px 8px;
        font-size: 18px;
        font-weight: 800;
        color: #599442;
        border-bottom: 1px solid #D0DACC;
      }
    }
  }
  .sidebar-block:not(:last-child) {
    border-bottom: 1px dotted #e7e7e7;
  }

  .hotel-benefits {
    .category {
      .title {
        margin: 0;
      }
      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
          color: #636262;
          font-size: 14px;
        }
      }
    }
  }

  .travel-side-map {
    position: relative;
    .map{
      width: 100%;
      height: 400px;
      border-radius: 3px;
    }
    .map-view {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 100;
      span {
        position: absolute;
        bottom: -1px;
        right: 0;
        background-color: #fff;
        padding: 10px 15px;
        color: #0085CA;
        font-size: 14px;
      }
    }
  }

  @include customFilter;

  .well {
    &.travel-offer-questions {
      .content {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #222;
        p {
          display: inline;
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
          font-size: 25px;
          font-weight: 600;
          color: $coral-color;
        }
      }
    }
    &.order {
      border-top: 3px solid $travels-primary-color;
      .wrapper {
        margin-left: -20px;
        margin-right: -20px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        h4 {
          margin: 15px;
        }
      }
      .remark {
        font-size: 15px;
        span:before {
          color: $red-color;
          font-family: 'flights';
          content: '\e666';
          font-size: 18px;
          padding-right: 8px;
          vertical-align: middle;
          position: relative;
          top: -2px;
        }
      }
    }
  }

  .hotel-info {
    .hotel-images {
      .sale {
        right: initial;
        left: 10px;
      }
    }
  }
  .label-tri {
    display: none;
  }

  .self-service-left {
    width: 73%;
  }

  .advanced-payment-select {
    margin-left: 33px;
    .details {
      margin-left: 27px;
      font-size: 14px;
      color: $grey-color;
    }
    input[type=radio]:not(.old):checked + label > span {
      background-color: $travels-primary-color;
      border-color: $travels-primary-color;
    }
    .radio-btn.active label > span > span {
      background-color: #fff;
    }
    input[type=radio]:not(.old) + label:hover span > span {
      background-color: #222;
    }
  }


  .travel-lpo {
    .block-image {
      height: 402px;
      position: relative;
      display: inline-block;
    }
    .slick-prev, .slick-next {
      z-index: 1;
      height: 100%;
      width: 15%;
      &:before {
        top: 50%;
        position: absolute;
        font-size: 30px;
      }
    }
    .slick-prev {
      left: 0;
      &:before {
        left: 20%;
      }
    }
    .slick-next {
      right: 0;
      &:before {
        right: 20%;
      }
    }
    .gradient {
      z-index: 0;
      position: absolute;
      top: 0;
      width: 80%;
      height: 75px;
      left: 0;
      border-top-left-radius: 4px;
      background: -moz-linear-gradient(135deg,rgba(0,0,0,0.65) 0,rgba(0,0,0,0) 80%);
      background: -webkit-gradient(linear,left bottom,right top,color-stop(0,rgba(0,0,0,0.65)),color-stop(80%,rgba(0,0,0,0)));
      background: -webkit-linear-gradient(135deg,rgba(0,0,0,0.65) 0,rgba(0,0,0,0) 80%);
      background: -o-linear-gradient(135deg,rgba(0,0,0,0.65) 0,rgba(0,0,0,0) 80%);
      background: -ms-linear-gradient(135deg,rgba(0,0,0,0.65) 0,rgba(0,0,0,0) 80%);
      background: linear-gradient(135deg,rgba(0,0,0,0.65) 0,rgba(0,0,0,0) 80%);
    }
    .description {
      position: absolute;
      left: 0;
      top: 17px;
      padding-left: 20px;
      z-index: 1;
    }
    .title {
      color: #fff;
      font-size: 24px;
      line-height: 20px;
    }
    .duration {
      color: #fff;
      font-size: 18px;
    }
    .price {
      position: absolute;
      right: 0;
      bottom: 20px;
      padding: 5px 20px;
      background: #f44336;
      color: #fff;
      font-size: 30px;
      span {
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }

  .travel-side {
    height: 400px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  .travel-promo-wrap {
    float: right;
    .tooltip {
      .tooltip-inner {
        font-size: 14px!important;
      }
    }
    &.inside {
      position: absolute;
      .travel-promo-box {
        padding: 0 5px 0 10px;
        .icon {
          right: -10px;
        }
      }
    }
  }
  .travel-promo-box {
    position: relative;
    background: #ff9900;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 0 25px 0 40px;
    text-align: right;
    cursor: pointer;
    &:after, &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-left-color: #ff9900;
      border-width: 20px;
      margin-top: -20px;
    }
    .line-1 {
      font-size: 14px;
    }
    .line-2 {
      font-weight: 600;
      font-size: 16px;
    }
    .icon {
      position: absolute;
      right: -2px;
      top: 50%;
      margin-top: -8px;
      z-index: 1;
    }
  }

}
